<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/index.html :: dynamic(~{::body})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:object="${product}">
		<div id="product" class="productDetail-page">
            <div class="container container1 clearfix">
                <div class="row product-detail-wrapper">
                    <div class="clearfix product-detail-main pr_style_01">
                        <div class="col-md-7 col-sm-7 col-xs-12 p-imgslide">

                            <div class="clearfix col-sm-11 padding0Mobile">

                                <div id="slider" class="nopadding clearfix" style="border: 1px black;">
						            <div th:each="image:*{product_images}" class="slick-slide">
						                <img th:src="@{|/products/${image.name}|}" alt="Freeship">
						            </div>
						        </div>
                            </div>

                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12 product-content-desc rightHeightProduct" id="detail-product">
                            <div class="product-title hidden-xs">
                                <h1>[[*{name}]]</h1>
                            </div>
                            <div class="product-price hidden-xs" id="price-preview">
                                <span class="pro-price" style="color: red !important">[[*{#numbers.formatDecimal(price, 0, 'DEFAULT', 0, 'POINT')}]] ₫ </span>
                            </div>

                            <form id="add-item-form" method="post" class="variants clearfix ng-pristine ng-valid">

                                <div class="select-swatch clearfix hidden-xs ">
                                    
                                    <div id="variant-swatch-1" class=" swatch clearfix" data-option="option2" data-option-index="1">
                                        <div class="select-swap">
                                            <div class="bodyButtonVariants">
										        <div class="rowButtonVariants">
										            <label class="form-check form-check-inline"  th:each="attribute:${attributes}"> 
										                <input class="form-check-input" type="radio" name="options" id="1">
										                <div class="icon-boxButtonVariants" th:attr="ng-click=@{|findAttribute(*{id}, ${attribute.id}, 1)|}">
										                    <span>[[${attribute.value}]]</span>
										                </div>
										            </label>
										        </div>   
										    </div>
										    <div class="bodyButtonVariants" ng-repeat="attribute_response in attribute_responses">
										        <div class="rowButtonVariants">
										            <label class="form-check form-check-inline" ng-repeat="attribute in attribute_response.attributes"> 
										                <input class="form-check-input" type="radio" name="{{attribute_response.id}}" id="1">
										                <div class="icon-boxButtonVariants" th:attr="ng-click=@{|findAttribute(*{id}, attribute.id, attribute_response.id)|}">
										                    <span>{{attribute.value}}</span>
										                </div>
										            </label>
										        </div>   
										    </div>
                                        </div>
										
                                        <span class="guideSize">
                                        <a href="#" data-toggle="modal" data-target="#modalSize">Hướng dẫn tính size</a>
                                    	</span>
                                    </div>
                                </div>
                                <div class="selector-actions hidden-xs">
                                    <div class="wrap-addcart clearfix">
                                        <input type="hidden" id="inventory-variant-buyer" value="19" autocomplete="off">
                                        <button th:attr="ng-click=@{|addToCart(*{id}, 1)|}" type="button" id="add-to-cart" class="add-to-cartProduct btn-addtocart" name="add" data-bind="click:$root.Order">Mua ngay</button>
                                        <button id="btn-find-sr" type="button" class="search-showroom-btn" data-bind="click:ShowStore">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> TÌM SẢN PHẨM TẠI SHOWROOM
                                    </button>
                                    </div>
                                </div>
                                <div class="visible-xs">
                                    <button id="btn-find-sr" type="button" class="search-showroom-btn-mobile" data-bind="click:ShowStore">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> TÌM SẢN PHẨM TẠI SHOWROOM
                                </button>
                                </div>
                                <div class="product-action-bottom visible-xs">
                                    <div class="product-title">
                                        <h1>D&#233;p nữ MWC NUDE- 8125</h1>
                                    </div>
                                    <div class="product-price" id="price-preview">
                                        <span class="pro-price" style="color: red !important">125.000 ₫</span>
                                    </div>

                                    <div class="clearfixx ">
                                        <div id="variant-swatch-0" class="borderImgRadius color_each swatch clearfixx modifyClick">
                                            <div class="select-swap">
                                                <!--ko foreach:ColorItems-->
                                                <div class=" n-sd swatch-element color">
                                                    <label class="kem" data-bind="css:{sd: Selected() ===true},click:$root.ChoiceColor,attr:{title:Value}" title="">
                                                    <!--ko if: Text().indexOf('http') < 0  -->
                                                    <img src="" data-bind='attr:{src: $parent.HostThumnail()+"?&w=455&h=572&FileInput=" + Text()}' />
                                                    <!-- /ko -->
                                                    <!--ko if: Text().indexOf('http') > -1-->
                                                    <img src="" data-bind='attr:{src:Text()}' />
                                                    <!-- /ko -->
                                                </label>
                                                </div>
                                                <!--/ko-->
                                            </div>
                                        </div>
                                        <div id="variant-swatch-1" class=" swatch clearfixx">
                                            <div class="select-swap">
                                                <!--ko foreach:SizeItems-->
                                                <div class="n-sd swatch-element">
                                                    <label class="s " data-bind="css:{sd: Selected() ===true},click:$root.ChoiseSize">
                                                    <span data-bind="text:Text">35</span>
                                                </label>
                                                </div>
                                                <!--/ko-->
                                            </div>
                                        </div>
                                    </div>
                                    <button id="btn-addcart-mb" class="buyNowModalBuyMobile btn-addtocart" data-bind="click:$root.Order">
                                    Mua ngay
                                </button>
                                </div>
                            </form>

                            <ul class="policyProduct">
                                <li>

                                    <span class="infoPolicy">
                                    <h5>
                                        PHÍ VẬN CHUYỂN TOÀN QUỐC
                                    </h5>
                                    <span></span>
                                    </span>
                                </li>
                                <li>

                                    <span class="infoPolicy">
                                    <h5>
                                        ĐỔI TRẢ MIỄN PHÍ
                                    </h5>
                                    <span>Hỗ trợ dổi trả sản phẩm trong vòng 3 đến 5 ngày, nếu không vừa size, sản phẩm bị lỗi (giữ sản phẩm sạch và chưa qua sử dụng) bạn sẽ đổi hoặc trả sản phẩm mà không tốn phí.</span>
                                    </span>
                                </li>
                                <li>

                                    <span class="infoPolicy">
                                    <h5>
                                        THANH TOÁN
                                    </h5>
                                    <span>(Thanh toán khi nhận hàng)</span>
                                    </span>
                                </li>
                                <li>

                                    <span class="infoPolicy">
                                    <h5>
                                        TỔNG ĐÀI BÁN HÀNG <span style="color: red;font-size:20px;">1900633349</span>
                                    </h5>
                                    <span>(Từ 8:30 - 21:30 mỗi ngày)</span>
                                    </span>
                                </li>
                            </ul>

                            <span class="guideSize mobile">
                            <a href="#" data-toggle="modal" data-target="#modalSize">Hướng dẫn tính size</a>
                        </span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container container1 content-detail">[(*{description})]</div>
            <div id="modalFindSR" class="modal fade" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>

                            <h4 class="modal-title">TÌM SẢN PHẨM TẠI SHOWROOM</h4>
                        </div>
                        <div class="modal-body">
                            <div style="margin-bottom: 20px;" class="col-sm-4 col-xs-4">
                                <!--ko if: ImageUrlDefault().indexOf('http') < 0  -->
                                <img id="product-image" src="" data-bind='attr:{src: HostThumnail()+"?&w=159&h=200&FileInput=" + ImageUrlDefault()}' />
                                <!-- /ko -->
                                <!--ko if: ImageUrlDefault().indexOf('http') > -1-->
                                <img id="product-image" src="" data-bind='attr:{src:ImageUrlDefault()}' />
                                <!-- /ko -->
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <div class="product-title">
                                    <h1>D&#233;p nữ MWC NUDE- 8125</h1>
                                    <div class="product-price">
                                        <span class="pro-price" style="color: red !important">125.000 ₫</span>
                                    </div>
                                </div>
                                <div class="clearfix ">
                                    <div id="variant-swatch-0" class="borderImgRadius color_each swatch clearfix modifyClick">
                                        <div class="select-swap">
                                            <!--ko foreach:ColorItems-->
                                            <div class=" n-sd swatch-element color">
                                                <label class="Color class-remove " data-bind="css:{sd: Selected() ===true},click:$root.ChoiceColor1,attr:{title:Value}" title="">
                                                <!--ko if: Text().indexOf('http') < 0  -->
                                                <img src="" data-bind='attr:{src: $parent.HostThumnail()+"?&w=455&h=572&FileInput=" + Text()}' />
                                                <!-- /ko -->
                                                <!--ko if: Text().indexOf('http') > -1-->
                                                <img src="" data-bind='attr:{src:Text()}' />
                                                <!-- /ko -->
                                            </label>
                                            </div>
                                            <!--/ko-->
                                        </div>
                                    </div>
                                    <div id="variant-swatch-1" class=" swatch clearfix">
                                        <div class="select-swap">
                                            <!--ko foreach:SizeItems-->
                                            <div class="n-sd swatch-element">
                                                <label class="Size class-remove " data-bind="css:{sd: Selected() ===true},click:$root.ChoiseSize1">
                                                <span data-bind="text:Text">35</span>
                                            </label>
                                            </div>
                                            <!--/ko-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix col-md-12">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <select class="form-control" data-bind="foreach: ProvinceOptions, value: ProvinceId">
                                        <option data-bind="text: Text, value: Value"></option>
                                    </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <select class="form-control" data-bind="foreach: DistrictOptions, value: DistrictId">
                                        <option data-bind="text: Text, value: Value"></option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix time-open">
                                <p><strong>Thời gian hoạt động:</strong></p>
                                <p style="padding-left:20px;"><strong>- Từ thứ 2 đến thứ 6</strong> : 8h30 - 22h </p>
                                <p style="padding-left: 20px;"><strong>- Thứ 7, chủ nhật</strong> : 8h- 22h30 </p>
                            </div>
                            <div style="margin-top: 20px">
                                <p>KẾT QUẢ TÌM KIẾM</p>
                            </div>
                            <div class="result-sr">
                                <!--ko foreach:StoreInventoryItems-->
                                <div>
                                    <b data-bind="text:StoreAddress"></b>
                                    <!--ko if:IsInventory === true-->
                                    <p style="margin-bottom: 0">Tình trạng: <span style="color: #39901d;">Còn Hàng</span> </p>
                                    <!--/ko-->
                                    <!--ko if:IsInventory === false-->
                                    <p style="margin-bottom: 0">Tình trạng: <span style="color: red;">Sắp hết Hàng</span> </p>
                                    <!--/ko-->
                                </div>
                                <!--/ko-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalSize" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>

                        <h4 class="modal-title">HƯỚNG DẪN CHỌN SIZE</h4>
                    </div>
                    <div class="modal-body">[(*{size_chart})]</div>
                </div>
            </div>
        </div>
</body>
</html>