<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="fw-bold py-3 mb-4">
			<span class="text-muted fw-light">Quản lý kho hàng/</span> Tồn kho
		</h4>

		<!-- Basic Layout & Basic with Icons -->
		<div class="row">
			<!-- Basic Layout -->
			<div class="col-xxl">
				<div class="card mb-4">
					<div
						class="card-header d-flex align-items-center justify-content-between">
						<h5 class="mb-0">Thông tin chi tiết</h5>
					</div>
					<div class="card-body">
						<form>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label" for="basic-default-name">MÃ LÔ HÀNG</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="basic-default-name"
										placeholder="Code" />
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label"
									for="basic-default-company">TÊN LÔ HÀNG</label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										id="basic-default-company" placeholder="Name" />
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label" for="basic-default-phone">TRẠNG THÁI</label>
								<div class="col-sm-9">
									<input type="text" id="basic-default-phone"
										class="form-control phone-mask" placeholder="Status"/>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label"
									for="basic-default-message">MÔ TẢ NGẮN</label>
								<div class="col-sm-9">
									<textarea id="basic-default-message" class="form-control"
										placeholder="Short description"
										aria-label="Hi, Do you have a moment to talk Joe?"
										aria-describedby="basic-icon-default-message2"></textarea>
								</div>
							</div>
							<div class="row justify-content-end">
								<div class="col-sm-9">
									<button type="submit" class="btn btn-primary">Lưu</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Basic with Icons -->
			<div class="col-xxl">
				<div class="card">
					<h5 class="card-header">DANH SÁCH CÁC LÔ HÀNG</h5>
					<div class="card-body demo-vertical-spacing demo-only-element col-8">
						<div class="mb-3 col-md-12 d-flex">
							<div class="d-flex align-items-start gap-3">
								<input class="form-control" type="search" placeholder="Search" aria-label="Search">
			        			<button class="btn btn-outline-success" type="submit">Search</button>
							</div>
						</div>
					</div>
					<div class="table-responsive text-nowrap">
						<table class="table">
							<thead>
								<tr>
									<th>MÃ</th>
									<th>TÊN</th>
									<th>NHÓM</th>
									<th>GIÁ TRỊ</th>
									<th>TRẠNG THÁI</th>
									<th>HÀNH ĐỘNG</th>
								</tr>
							</thead>
							<tbody class="table-border-bottom-0">
								<tr>
									<td><i class="fab fa-angular fa-lg text-danger me-3"></i>
										<strong>TTN</strong></td>
									<td>GIÀY THẾ THAO NỮ</td>
									<td><span>Active</span></td>
									<td><span class="badge bg-label-primary me-1">Active</span></td>
									<td><span class="badge bg-label-primary me-1">Active</span></td>
									<td>
										<div class="dropdown">
											<button type="button"
												class="btn p-0 dropdown-toggle hide-arrow"
												data-bs-toggle="dropdown">
												<i class="bx bx-dots-vertical-rounded"></i>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-edit-alt me-1"></i> Edit</a> <a
													class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-trash me-1"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td><i class="fab fa-angular fa-lg text-danger me-3"></i>
										<strong>TTN</strong></td>
									<td>GIÀY THẾ THAO NỮ</td>
									<td><span>Active</span></td>
									<td><span class="badge bg-label-primary me-1">Active</span></td>
									<td><span class="badge bg-label-primary me-1">Active</span></td>
									<td>
										<div class="dropdown">
											<button type="button"
												class="btn p-0 dropdown-toggle hide-arrow"
												data-bs-toggle="dropdown">
												<i class="bx bx-dots-vertical-rounded"></i>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-edit-alt me-1"></i> Edit</a> <a
													class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-trash me-1"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td><i class="fab fa-angular fa-lg text-danger me-3"></i>
										<strong>TTN</strong></td>
									<td>GIÀY THẾ THAO NỮ</td>
									<td><span>Active</span></td>
									<td><span class="badge bg-label-primary me-1">Active</span></td>
									<td><span class="badge bg-label-primary me-1">Active</span></td>
									<td>
										<div class="dropdown">
											<button type="button"
												class="btn p-0 dropdown-toggle hide-arrow"
												data-bs-toggle="dropdown">
												<i class="bx bx-dots-vertical-rounded"></i>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-edit-alt me-1"></i> Edit</a> <a
													class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-trash me-1"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-4"></div>
							<div class="col-lg-8">
								<div class="demo-inline-spacing">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<li class="page-item prev"><a class="page-link"
												href="javascript:void(0);"><i
													class="tf-icon bx bx-chevrons-left"></i></a></li>
											<li class="page-item"><a class="page-link"
												href="javascript:void(0);">1</a></li>
											<li class="page-item"><a class="page-link"
												href="javascript:void(0);">2</a></li>
											<li class="page-item active"><a class="page-link"
												href="javascript:void(0);">3</a></li>
											<li class="page-item"><a class="page-link"
												href="javascript:void(0);">4</a></li>
											<li class="page-item"><a class="page-link"
												href="javascript:void(0);">5</a></li>
											<li class="page-item next"><a class="page-link"
												href="javascript:void(0);"><i
													class="tf-icon bx bx-chevrons-right"></i></a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>