<div class="card">
	<div class="col-md-12">
		<div class="card-body demo-vertical-spacing demo-only-element">
			<div class="mb-3 col-md-12 d-flex justify-content-end">
				<div class="d-flex align-items-start gap-3">
					<input class="form-control" ng-model="key_search" type="search" placeholder="TÊN ĐĂNG NHẬP" aria-label="Search">
        			<button ng-click="search(key_search)" class="btn btn-outline-success" type="submit">
        				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="table-responsive text-nowrap">
		<table class="table">
			<thead>
				<tr>
					<th>TÊN ĐĂNG NHẬP</th>
					<th>HỌ VÀ TÊN</th>
					<th>ẢNH ĐẠI DIỆN</th>
					<th>TRẠNG THÁI</th>
					<th>HÀNH ĐỘNG</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				<tr ng-repeat="account in pager.accounts">
					<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{account.username}}</strong></td>
					<td>{{account.fullname}}</td>
					<td>
						<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Lilian Fuller"><img
								ng-src="/avatars/{{account.avatar}}" alt="Avatar"
								class="rounded-circle" /></li>
						</ul>
					</td>
					<td><span class="badge bg-label-primary me-1">{{account.activity?'Hoạt động':'Đang khóa'}}</span></td>
					<td>
						<div class="dropdown">
							<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
								data-bs-toggle="dropdown">
								<i class="bx bx-dots-vertical-rounded"></i>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="javascript:void(0);" ng-click="edit(account)">
									<i class="bx bx-edit-alt me-1"></i> Chỉnh sửa
								</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="card mb-4">
	<div class="card-body">
		<div class="row">
			<div class="col-lg-5">
				
			</div>
			<div class="col-lg-7">
				<div class="demo-inline-spacing">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li class="page-item prev" ng-click="pager.first()">
								<a class="page-link" href="javascript:void(0);">
									<i class="tf-icon bx bx-chevrons-left"></i>
								</a>
							</li>
							<li class="page-item prev" ng-click="pager.prev()">
								<a class="page-link" href="javascript:void(0);">
									<i class="tf-icon bx bx-chevron-left"></i>
								</a>
							</li>
							<li class="page-item next" ng-click="pager.next()">
								<a class="page-link" href="javascript:void(0);">
									<i class="tf-icon bx bx-chevron-right"></i>
								</a>
							</li>
							<li class="page-item next" ng-click="pager.last()">
								<a class="page-link" href="javascript:void(0);">
									<i class="tf-icon bx bx-chevrons-right"></i>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>