<div xmlns:th="http://www.thymeleaf.org"> 

	<footer id="footer-top" class="footer">

            <div class="container-fluid signUp">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="/images/logo.png" />
                            <h3>MWC “LỰA CHỌN HOÀN HẢO”</h3>
                            <ul class="navbar-social">
                                <li class="social">
                                    <a data-eventlabel="facebook" class="link-social" href="https://www.facebook.com/www.mwc.vn/" target="_blank" rel="nofollow">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="social">
                                    <a data-eventlabel="instagram" class="link-social" href="#" target="_blank" rel="nofollow">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="social">
                                    <a data-eventlabel="youtube" class="link-social" href="#" target="_blank" rel="nofollow">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="social">
                                    <a data-eventlabel="zalo" class="link-social" href="#" target="_blank" rel="nofollow">
                                        <i class="fa-zalo"></i>
                                    </a>
                                </li>
                                <li class="social">
                                    <a data-eventlabel="tiktok" class="link-social" href="#" target="_blank" rel="nofollow">
                                        <i class="fa-tiktok"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px; padding-bottom: 20px">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p>
                                <span style="font-size: 18px;">Chất lượng</span>
                            </p>
                            <p>
                                MWC đảm bảo chất lượng cho tất cả sản phẩm bán tại Store MWC bằng chính sách bảo hành vĩnh viễn.
                            </p>
                            <p>
                                <span style="font-size: 18px;">Phục vụ</span>
                            </p>
                            <p>
                                MWC cam kết chất lượng phục vụ tốt nhất, chuyên nghiệp nhất cho mọi khách hàng bằng chính sách hoàn tiền và tặng quà nếu nhân viên phục vụ quí khách không chu đáo.
                            </p>
                            <p>
                                <span style="font-size: 18px;">Hỗ trợ</span>
                            </p>
                            <p>
                                Nếu bạn gặp rắc rối về sản phẩm hay chất lượng dịch vụ của MWC, hãy gọi ngay đến số <span style="color:#fff !important;">0967 027 393</span> hoặc inbox ở fanpage <a style="color: #337ab7 !important;" target="_blank" href="https://www.facebook.com/www.mwc.vn">facebook.com/www.mwc.vn</a>
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <p>&nbsp;</p>
                            <p style="margin: 0;">Đặt hàng và thu tiền tận nơi toàn quốc</p>
                            <p class="boxed-content-title" style="color:#fff;font-size:16px;font-weight:bold; "><i class="fa fa-phone-square"></i>1900 633 349</p>
                            <br/>
                            <h4>Thông tin</h4>
                            <ul>
                                <li>
                                    <a href="/post/gioi-thieu-ve-mwc"><i class="fa fa-angle-right"></i> Giới thiệu về MWC</a>
                                </li>
                                <li>
                                    <a href="/post/tuyen-dung-mwc"><i class="fa fa-angle-right"></i> Tuyển dụng</a>
                                </li>
                                <li>
                                    <a href="/post/quy-che-hoat-dong"><i class="fa fa-angle-right"></i> Quy chế hoạt động</a>
                                </li>
                                <li>
                                    <a href="/post/chinh-sach-va-quy-dinh"><i class="fa fa-angle-right"></i> Ch&#237;nh s&#225;ch v&#224; quy định</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <p>&nbsp;</p>
                            <h4>CSKH</h4>
                            <p>
                                <a style="color:#337ab7;" href="https://docs.google.com/forms/d/1r_OHLVG9I03_d561JIfgnAj71KwLFg8WOrIDFMmZveQ/viewform?edit_requested=true" target="_blank">Than phiền/Chăm sóc khách hàng</a>
                            </p>

                            <h4>FAQ</h4>
                            <ul>
                                <li>
                                    <a href="/post/giao-hang-toan-quoc"><i class="fa fa-angle-right"></i> Vận chuyển</a>
                                </li>
                                <li>
                                    <a href="/post/chinh-sach-doi-tra"><i class="fa fa-angle-right"></i> Chính sách đổi trả</a>
                                </li>
                                <li>
                                    <a href="/post/chinh-sach-bao-hanh-tron-doi"><i class="fa fa-angle-right"></i> Chính sách bảo hành</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

</div>