<div xmlns:th="http://www.thymeleaf.org">

	 <header id="header" class="style_1">
            <div id="header-wrap" class="">
                <div class="container clearfix  hidden-xs hidden-sm">
                    <div class="header_icon fright hidden-xs hidden-sm">
                        <div id="top-cart" class="top-cart-block">
                            <a href="/cart" id="top-cart-trigger" class="">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="top_cart_qty">{{totalProductsInCart}}</span>
                            </a>
                        </div>
                        <!-- Top Search-->
                        <div class="header_search fleft hidden-md">
                            <a href="#"><i class="fa fa-search"></i></a>
                            <form action="/search" class="nomargin" style="width: 486px;">
                                <input name="s" class="form-control noboxshadow noradius" placeholder="Bạn muốn tìm gì..." type="text">
                                <button class="button nomargin">Tìm kiếm</button>
                            </form>
                        </div>
                    </div>
                    <div class="primary_menu_wrap fright hidden-sm hidden-xs">
                        <nav id="primary-menu" class="hidden-xs hidden-sm">
                            <ul class="" style="touch-action: pan-y;">
                                <li class="hassub" ng-repeat="category_group in category_groups">
                                    <a class="menu sf-with-ul" href="/collections/giay-nu">
                                        <div class="coll-icon">
                                            <span class="icon-top">
                                                    <img ng-src="/icons/{{category_group.icon}}">
                                                </span>
                                            <span style="font-weight: 500;">
                                                    {{category_group.name}}
                                                </span>
                                        </div>
                                    </a>
                                    <ul style="display: none;">
                                        <div class="submenu_group">
                                            <div class="submenu_col">
                                                <li class="carret" ng-repeat="category in category_group.categories">
                                                	<i class="fa fa-caret-right"></i>
	                                                <a class="sub-menu" href="/collections/giay-thoi-trang">
	                                                      <div>{{category.name}}</div>
	                                                </a>
                                                </li>
                                            </div>
                                        </div>
                                    </ul>

                                </li>
                            </ul>
                        </nav>

                        <div class="search-mb">
                            <form action="/search">
                                <input name="s" class="form-control noboxshadow noradius" placeholder="Bạn muốn tìm gì..." type="text">
                                <button class="button nomargin"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div class="hotline-box">
                            <i class="fa fa-phone" aria-hidden="true"></i> Đặt hàng nhanh: <span>1900.633.349</span>
                        </div>
                        <!-- #primary-menu end -->
                    </div>

                    <!-- Logo -->
                    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="~/Themes/images/logo.png"><img src="/Resources/Config/2020/06/28/logo_2.png" alt="Shop gi&#224;y MWC, gi&#224;y nam, gi&#224;y nữ HCM" /></a>
                        <a href="/" class="retina-logo" data-dark-logo="~/Themes/images/logo.png"><img src="/Resources/Config/2020/06/28/logo_2.png" alt="Shop gi&#224;y MWC, gi&#224;y nam, gi&#224;y nữ HCM" /></a>
                    </div>
                    <!-- #logo end -->
                </div>
                <div class="hidden-lg hidden-md clear-fix">
                    <div class="navbar-mobile">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="float: left !important; width: 15%;">
                        <i class="fa fa-align-justify"></i>
                    </button>
                        <a href="/" class="navbar-brand" style="width: 30%;"><img src="/Resources/Config/2020/06/28/logo.jpg" /></a>
                        <div class="header-wrap-icon">
                            <span id="site-search-handle" class="icon-search" aria-label="Tìm kiếm" title="Tìm kiếm">
                            <a id="op-search">
                                <span class="search-menu" aria-hidden="true">
                                    <svg width="20" height="19" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.3457 5.49982C11.3457 8.26112 9.10717 10.4996 6.34572 10.4996C3.58427 10.4996 1.3457 8.26112 1.3457 5.49982C1.3457 2.73851 3.58427 0.5 6.34572 0.5C9.10717 0.5 11.3457 2.73851 11.3457 5.49982Z" stroke="#2D2D2D"></path>
                                        <line y1="-0.5" x2="4.94967" y2="-0.5" transform="matrix(0.70712 0.707094 -0.70712 0.707094 9.3457 9.5)" stroke="#2D2D2D" stroke-linejoin="round"></line>
                                    </svg>

                                </span>
                            </a>
                            </span>
                            <span class="icon-cart" title="Giỏ hàng">
                            <a href="/cart">
                                <span class="cart-menu" aria-hidden="true">
                                    <svg width="20" height="19" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 16H0V5H15V16ZM0.789474 15.1665H14.1228V5.84209H0.789474V15.1665Z" fill="#2D2D2D"></path>
                                        <path d="M11.1586 7.25279H10.4849V3.78071C10.4849 2.08325 9.13752 0.694416 7.49074 0.694416C5.84395 0.694416 4.49658 2.08325 4.49658 3.78071V7.17563H3.74805V3.78071C3.74805 1.69746 5.39483 0 7.49074 0C9.58664 0 11.2334 1.69746 11.2334 3.78071V7.25279H11.1586Z" fill="#2D2D2D"></path>
                                        <path d="M5.09591 6.48145H3V7.25302H5.09591V6.48145Z" fill="#2D2D2D"></path>
                                        <path d="M11.8322 6.48145H9.73633V7.25302H11.8322V6.48145Z" fill="#2D2D2D"></path>
                                    </svg>
                                    <span class="count-holder"><span class="count">0</span></span>
                            </span>
                            </a>
                            </span>
                            <span style="width: 15px;">
                            <a href="javascript:;" id="topbar_trigger"><i class="fa fa-ellipsis-v hidden-lg hidden-md"></i></a>
                        </span>
                            <div id="topbar_mb" class="hidden-md hidden-lg text-right">

                                <p class="nobottommargin pull-right clearfix">
                                    <strong>Số điện thoại: <a href="tel:1900.633.349">1900.633.349</a></strong>
                                    <strong>Email: <a href="mailto:mwcshop@gmail.com">mwcshop@gmail.com</a></strong>
                                </p>

                                <!-- Top Links -->
                                <div class="top-links pull-right clearfix">
                                    <ul>
                                        <li><a>GIAO HÀNG TOÀN QUỐC</a></li>
                                        <li><a>BẢO HÀNH 365 NGÀY</a></li>
                                        <li><a href="http://mwc.com.vn/post/gioi-thieu-ve-mwc">GIỚI THI&#202;U</a></li>
                                        <li><a href="http://mwc.com.vn/post/chinh-sach-bao-hanh-tron-doi">CH&#205;NH S&#193;CH BẢO H&#192;NH TRỌN ĐỜI</a></li>
                                        <li><a href="http://mwc.com.vn/post/giao-hang-toan-quoc">GIAO H&#192;NG  TO&#192;N QUỐC</a></li>
                                        <li><a href="https://docs.google.com/forms/d/1r_OHLVG9I03_d561JIfgnAj71KwLFg8WOrIDFMmZveQ/edit">THAN PHIỀN, G&#211;P &#221;</a></li>
                                        <li><a href="/store">DANH S&#193;CH CỬA H&#192;NG</a></li>
                                        <li><a href="http://mwc.com.vn/post/huong-dan-chon-size">C&#193;CH ĐO SIZE</a></li>
                                        <li><a href="https://mwc.com.vn/post/chinh-sach-doi-tra">CHÍNH SÁCH Đ&#212;̉I TRẢ</a></li>
                                        <li><a href="/post/chinh-sach-bao-mat-thong-tin">CH&#205;NH S&#193;CH BẢO MẬT TH&#212;NG TIN</a></li>
                                    </ul>
                                </div>

                                <!-- .top-links end -->
                            </div>
                            <div class="search-mb">
                                <form action="/search">
                                    <input name="s" class="form-control noboxshadow noradius" placeholder="Bạn muốn tìm gì..." type="text">
                                    <button class="button nomargin"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <a id="close-search" class="close"><i class="fa fa-close"></i></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

</div>