<div xmlns:th="http://www.thymeleaf.org">

	<section class="sectionhethong">
            <div class="container list-store">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;margin-bottom:20px;">
                        <h4 style="margin: 20px 20px 5px 20px;"><i class="fa fa-map-signs"></i> Hệ thống cửa hàng</h4>
                        <a class="view-list-store" href="/store"><i class="fa fa-angle-double-right"></i> Xem địa chỉ hệ thống 75 cửa hàng <i class="fa fa-angle-double-left"></i></a>
                    </div>
                    <div class="col-md-4">
                        <h4 class="">HỆ THỐNG STORE MWC TPHCM </h4>
                        <p>
                            Q.5: 414 Nguyễn Tr&#227;i , P.8
                        </p>
                        <p>
                            Q.5: 416 Nguyễn Tr&#227;i , P.8
                        </p>
                        <p>
                            Q.5 : 96 Nguyễn Tr&#227;i , P.3, Quận 5 (Sắp khai trương ng&#224;y 16/4/2022)
                        </p>
                        <p>
                            Q.1: 214 Nguyễn Tr&#227;i, Nguyễn Cư Trinh
                        </p>
                        <p>
                            Q.B&#236;nh T&#226;n: 338 Nguyễn Thị T&#250;, B&#236;nh Hưng H&#242;a B
                        </p>
                        <p>
                            Q.6: 126 Hậu Giang, P.6
                        </p>
                        <p>
                            Q.11: 126 &#212;ng &#205;ch Khi&#234;m, P.3
                        </p>
                        <p>
                            Q.G&#242; Vấp: 430 Quang Trung, P.10
                        </p>
                        <p>
                            Q.Thủ Đức: 74 V&#245; Văn Ng&#226;n, P.B&#236;nh Thọ
                        </p>
                        <p>
                            Q.12: 201 L&#234; Văn Khương, Hiệp Th&#224;nh
                        </p>
                        <p>
                            Q.Thủ Đức: 356 V&#245; Văn Ng&#226;n, P.B&#236;nh Thọ
                        </p>
                        <p>
                            Q.Thủ Đức: 112 Ho&#224;ng Diệu 2, P.Linh Chiểu
                        </p>
                        <p>
                            Q.T&#226;n Ph&#250;:174 T&#226;n Kỳ T&#226;n Qu&#253;, T&#226;n Sơn Nh&#236;
                        </p>
                        <p>
                            Q.7: 124 Nguyễn Thị Thập, P.B&#236;nh Thuận
                        </p>
                        <p>
                            Q.2: 110 Nguyễn Duy Trinh, P.B&#236;nh Trưng T&#226;y
                        </p>
                        <p>
                            Q.T&#226;n B&#236;nh: 120 Cộng H&#242;a, P.4
                        </p>
                        <p>
                            Q.T&#226;n B&#236;nh: 326 Nguyễn Trọng Tuyễn, P.1
                        </p>
                        <p>
                            Q.T&#226;n B&#236;nh: 350 &#194;u Cơ, P.10
                        </p>
                        <p>
                            Q.9 : 199A L&#234; Văn Việt , P.hiệp ph&#250;
                        </p>
                        <p>
                            Q.B&#236;nh Thạnh: 185 Bạch Đằng, P.15
                        </p>
                        <p>
                            Q.12: 74/6 Nguyễn Ảnh Thủ, Q.12 (Đối diện tiệm v&#224;ng Mỹ Dung)
                        </p>
                        <p>
                            Củ Chi: 151 Tỉnh Lộ 8, Thị Trấn Củ Chi
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="">T&#194;Y NAM BỘ</h4>
                        <p>
                            Cần Thơ: 41G Mậu Th&#226;n, Q.Ninh Kiều
                        </p>
                        <p>
                            Cần Thơ: 224 Trần Hưng Đạo, Q.Ninh Kiều
                        </p>
                        <p>
                            Cần Thơ: 538 Đường 91, P.Thốt Nốt, Quận Thốt Nốt, TP Cần Thơ
                        </p>
                        <p>
                            Cần Thơ: 131 Đường 26 Th&#225;ng 3, Ch&#226;u Văn Li&#234;m, &#212; M&#244;n, TP.Cần Thơ
                        </p>
                        <p>
                            Long An:258 Tỉnh Lộ 825 Ấp B&#236;nh Tiền, Đức H&#242;a Hạ, Đức H&#242;a ( gần Trường Nguyễn Văn Ph&#250; 200 m&#233;t )
                        </p>
                        <p>
                            Long An: 488 H&#249;ng Vương, P.3, T&#226;n An
                        </p>
                        <p>
                            Long An: 53 Nguyễn Hữu Thọ, KP3, TT Bến Lức, Huy&#234;n Bến Lức
                        </p>
                        <p>
                            Tiền Giang: 542A Ấp Bắc , T.P Mỹ Tho
                        </p>
                        <p>
                            Tiền Giang: 147 Nguyễn Huệ, P2, Thị X&#227; G&#242; C&#244;ng
                        </p>
                        <p>
                            Tiền Giang: 21 Đường 868, KP1, P.1,TX.Cai Lậy ( Đối diện ng&#226;n h&#224;ng Ki&#234;n Long)
                        </p>
                        <p>
                            Long Xuy&#234;n: 867 H&#224; Ho&#224;ng Hổ, P.Mỹ Xuy&#234;n
                        </p>
                        <p>
                            Bến Tre: 345 Đồng Khởi, P.Ph&#250; T&#226;n
                        </p>
                        <p>
                            Bến Tre: QL 882 Ấp Phước Hậu, X&#227; Phước Mỹ Trung, Huyện Mỏ C&#224;y Bắc ( gần chợ Ba V&#225;t)
                        </p>
                        <p>
                            Ki&#234;n Giang : 542 Nguyễn Trung Trực, Rạch Gi&#225;
                        </p>
                        <p>
                            Đồng Th&#225;p: 150 H&#249;ng Vương, P. 2, Tp.Cao L&#227;nh
                        </p>
                        <p>
                            Đồng Th&#225;p: 434 Nguyễn Sinh Sắc, Sa Đ&#233;c
                        </p>
                        <p>
                            S&#243;c Trăng : 99 L&#234; Hồng Phong, P.13
                        </p>
                        <p>
                            Tr&#224; Vinh : 123 Nguyễn Đ&#225;ng, P.7
                        </p>
                        <p>
                            C&#224; Mau: 274 Ng&#244; Quyền, P.9
                        </p>
                        <p>
                            Vĩnh Long: 55F Phạm Th&#225;i Bường, P.4
                        </p>
                        <p>
                            Vĩnh Long: Số 10 Trương Vĩnh K&#253;, Khu 1, TT Tr&#224; &#212;n (Ngay c&#244;ng vi&#234;n nhỏ )
                        </p>
                        <p>
                            Ch&#226;u Đốc: 136 L&#234; Lợi, P.Ch&#226;u Ph&#250; B
                        </p>
                        <p>
                            Bạc Li&#234;u: 62 Quốc Lộ 1a, Kh&#243;m 1, P.Hộ Ph&#242;ng, tx Gi&#225; Rai,Bạc Li&#234;u
                        </p>
                        <p>
                            Bạc Li&#234;u: 417 Trần Ph&#250;, Phường 7, TP Bạc Li&#234;u
                        </p>
                        <p>
                            Hậu Giang: 22 Nguyễn C&#244;ng Trứ, KP1, P.1, TP.Vị Thanh
                        </p>
                        <p>
                            Hậu Giang: 782 H&#249;ng Vương, KV3, P. Ng&#227; Bảy, TP. Ng&#227; Bảy
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="">MIỀN TRUNG</h4>
                        <p>
                            B&#236;nh Định: 470 Trần Hưng Đạo, TP Quy Nhơn
                        </p>
                        <p>
                            Ph&#250; Y&#234;n: 116 Nguyễn Huệ, P7, Tp.Tuy H&#242;a, Ph&#250; Y&#234;n
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="">Đ&#212;NG NAM BỘ</h4>
                        <p>
                            Đồng Nai: 1243 Phạm Văn Thuận, P.Thống Nhất, TP Bi&#234;n H&#242;a
                        </p>
                        <p>
                            Đồng Nai: 295 L&#234; Duẩn, Long Th&#224;nh
                        </p>
                        <p>
                            Đồng Nai: 10/5B T&#226;y Kim, Gia Kiệm, Thống Nhất
                        </p>
                        <p>
                            Đồng Nai: 141 H&#249;ng Vương, TT.Xu&#226;n Lộc
                        </p>
                        <p>
                            Đồng Nai: 717 Đường 767, Ấp An Chu, x&#227; Bắc Sơn, Trảng Bom
                        </p>
                        <p>
                            Đồng Nai: 575 H&#249;ng Vương, Long Kh&#225;nh
                        </p>
                        <p>
                            Đồng Nai: 169 Đường 30/4, Trung Dũng, TP Bi&#234;n H&#242;a
                        </p>
                        <p>
                            Vũng T&#224;u: 510 Trương C&#244;ng Định, P.8
                        </p>
                        <p>
                            Vũng T&#224;u: 144 Nguyễn Hữu Thọ, TP.B&#224; Rịa
                        </p>
                        <p>
                            T&#226;y Ninh: 437 C&#225;ch Mạng Th&#225;ng T&#225;m, P.3
                        </p>
                        <p>
                            T&#226;y Ninh: 27 Khu Phố Lộc An Quốc Lộ 22, Trảng B&#224;ng (Đối diện Honda Anh Tuấn )
                        </p>
                        <p>
                            B&#236;nh Phước: 144 Đường Nguễn Huệ KP 4, TT Chơn Th&#224;nh, Huyện Chơn Th&#224;nh ( Đối diện tiệm v&#224;ng Tuấn )
                        </p>
                        <p>
                            B&#236;nh Phước: 1035 Ph&#250; Riềng Đỏ, KP.Xu&#226;n B&#236;nh, P.T&#226;n B&#236;nh, Đồng Xo&#224;i
                        </p>
                        <p>
                            B&#236;nh Dương: 26 Ch&#226;u Văn Tiếp, P.L&#225;i Thi&#234;u, TX.Thuận An
                        </p>
                        <p>
                            B&#236;nh Dương: 208 Nguyễn An Ninh, Thị X&#227; Dĩ An ( S&#225;t TGDĐ Đối Diện Điện M&#225;y Xanh )
                        </p>
                        <p>
                            Bình Dương: 229a Yersin, P.Ph&#250; Cường,TP.Thủ Dầu 1
                        </p>
                        <p>
                            B&#236;nh Dương: 40 H&#249;ng Vương, phường Mỹ Phước, Bến C&#225;t (kế ng&#226;n h&#224;ng SCB)
                        </p>
                        <p>
                            Phan Thiết: 82 Trần Hưng Đạo, P.Ph&#250; Trinh, B&#236;nh Thuận
                        </p>
                        <p>
                            Phan Rang: 404 Ng&#244; Gia Tự, Khu 2, P.Tấn T&#224;i
                        </p>
                        <p>
                            Bảo Lộc:403 Trần Ph&#250;, Lộc Sơn, TP. Bảo Lộc
                        </p>
                        <p>
                            Kh&#225;nh H&#242;a : 272 Thống Nhất, P.Phương Sơn, TP. Nha Trang
                        </p>
                        <p>
                            Kh&#225;nh H&#242;a: 569 Trần Qu&#253; C&#225;p, TX. Ninh H&#242;a, Ninh H&#242;a
                        </p>
                        <p>
                            Kh&#225;nh H&#242;a: 2206 H&#249;ng Vương, Cam Lộc, Tp. Cam Ranh
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-end">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <p>C&#244;ng ty TNHH Sản xuất thương mại dịch vụ MWC</p>
                            <p>Địa chỉ: Số 7 đường 3A, khu d&#226;n cư Ấp 5, X. Phong Ph&#250;, H. B&#236;nh Ch&#225;nh., Tp. HCM</p>
                            <p>MST: 0314746543</p>

                        </div>
                        <div class="col-md-4">
                            <a target="_blank" href="http://online.gov.vn/Home/WebDetails/44889"><img src="/Images/dathongbaobct_150.png" /></a>
                        </div>
                    </div>

                </div>
            </div>


        </section>

 </div>