<div xmlns:th="http://www.thymeleaf.org"> 

	<div id="top-bar" class="hidden-xs hidden-sm">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-xs-4 navsmltopleft">
                        <p class="nobottommargin">
                            <strong><i class="fa fa-phone"></i> <a href="tel:1900.633.349">1900.633.349</a></strong> | <strong><i class="fa fa-envelope"></i> <a href="mailto:mwcshop@gmail.com">mwcshop@gmail.com</a></strong>
                        </p>
                    </div>
                    <div class="col-xs-8 top_link_wrapper pull-right navsmltopright">
                        <!-- Top Links -->
                        <div class="top-links pull-right">
                            <ul>
                                <li><a href="http://mwc.com.vn/post/gioi-thieu-ve-mwc">GIỚI THI&#202;U</a></li>
                                <li><a href="http://mwc.com.vn/post/chinh-sach-bao-hanh-tron-doi">CH&#205;NH S&#193;CH BẢO H&#192;NH TRỌN ĐỜI</a></li>
                                <li><a href="http://mwc.com.vn/post/giao-hang-toan-quoc">GIAO H&#192;NG  TO&#192;N QUỐC</a></li>
                                <li><a href="https://docs.google.com/forms/d/1r_OHLVG9I03_d561JIfgnAj71KwLFg8WOrIDFMmZveQ/edit">THAN PHIỀN, G&#211;P &#221;</a></li>
                                <li>
                                    <a href="javascript:;" class="mn-top-arrow"><i class="fa fa-angle-double-down"></i></a>
                                </li>
                            </ul>
                            <ul class="top-links-after">
                                <li><a href="/store">DANH S&#193;CH CỬA H&#192;NG</a></li>
                                <li><a href="http://mwc.com.vn/post/huong-dan-chon-size">C&#193;CH ĐO SIZE</a></li>
                                <li><a href="https://mwc.com.vn/post/chinh-sach-doi-tra">CHÍNH SÁCH Đ&#212;̉I TRẢ</a></li>
                                <li><a href="/post/chinh-sach-bao-mat-thong-tin">CH&#205;NH S&#193;CH BẢO MẬT TH&#212;NG TIN</a></li>
                            </ul>
                        </div>
                        <!-- .top-links end -->
                    </div>
                </div>
            </div>
        </div>

</div>