@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bodyButtonVariants {
  background-color: #fff;
  width: 100%;
  margin-left: 0px;
  display: flex;
}

.rowButtonVariants {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr  1fr  1fr 1fr;
}
.rowButtonVariants label {
  padding: 10px;
  margin: 1px;
  display: flex;
}

.rowButtonVariants label input[type="radio"] {
  display: none;
}

.rowButtonVariants label .icon-boxButtonVariants {
  position: relative;
  display: flex;
  width: 45px;
  height: 30px;
  padding: 8px;
  border: 1px solid;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #353746;
  border-radius: 3px;
  font-size: 21px;
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
}

.rowButtonVariants label input[type="radio"]:checked ~ .icon-boxButtonVariants {
  background: linear-gradient(138deg, #da2c4d, #f8ab37);
  color: #fff;
}

.rowButtonVariants label .icon-boxButtonVariants span {
  font-size: 8px;
}