@charset "UTF-8";

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
    margin: auto;
    cursor: pointer;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    /*border: 1px solid transparent;*/
}

.slick_thumb .slick-slide {
    padding: 5px;
    opacity: 0.4;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.slick_thumb .slick-slide.slick-current {
    opacity: 1;
}

.slick_thumb .slick-slide .img {
    padding: 5px;
    border: 1px solid #ccc;
}

.slick-arrow.slick-hidden {
    display: none;
}


/*** slick theme ***/


/* Slider */

.slick-loading .slick-list {
    background: #fff url("/themes/images/loader.gif") center center no-repeat;
}


/* Icons */

@font-face {
    font-family: "slick";
    src: url("/themes/fonts/slick.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Arrows */

.slick-prev,
.slick-next {
    z-index: 2;
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 35px;
    cursor: pointer;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    top: calc(50% - 15px);
    margin-top: -10px\9;
    /*lte IE 8*/
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev.small_nav,
.slick-next.small_nav {
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.3);
    left: 0px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev i,
.slick-next i {
    line-height: 30px;
}

.slick-vertical.slick_thumb .slick-prev,
.slick-vertical.slick_thumb .slick-next {
    top: 0;
    width: calc(100% - 15px);
    height: 20px;
}

.slick-vertical.slick_thumb .slick-prev i,
.slick-vertical.slick_thumb .slick-next i {
    line-height: 20px;
    vertical-align: top;
}

#slider .slick-prev,
.pd_slide .slick-prev,
.pd_slide_qv .slick-prev,
#slider .slick-next,
.pd_slide .slick-next,
.pd_slide_qv .slick-next {
    height: 70px;
    width: 25px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    top: calc(50% - 35px);
}

.slick-prev {
    left: 0px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-next {
    right: 0px;
}

.slick-next.small_nav {
    left: auto;
    right: 0px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-vertical.slick_thumb .slick-next {
    top: auto;
    bottom: 0;
    left: 0;
}


/* Dots */

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}


/**** vertical ****/

.slick_thumb.slick-vertical {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*slick-lightbox.css*/

.slick-lightbox .slick-prev,
.slick-lightbox .slick-next {
    font-size: 0px;
    height: 70px;
    background: #eee;
}

.slick-lightbox .slick-prev:before,
.slick-lightbox .slick-next:before {
    font-family: "FontAwesome" !important;
    font-size: 45px;
    line-height: 70px;
    opacity: .75;
}

.slick-lightbox .slick-prev:before {
    content: "\f104";
}

.slick-lightbox .slick-next:before {
    content: "\f105";
}

.slick-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.slick-lightbox.slick-hide {
    opacity: 0;
}

.slick-lightbox.slick-hide-init {
    position: absolute;
    top: -9999px;
    opacity: 0;
}

.slick-lightbox.slick-lightbox-ie.slick-hide,
.slick-lightbox.slick-lightbox-ie.slick-hide-init {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.slick-lightbox .slick-lightbox-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item {
    text-align: center;
    overflow: hidden;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner .slick-lightbox-slick-img {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner .slick-lightbox-slick-caption {
    margin-top: 10px;
    color: #fff;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    display: block;
    text-align: center;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close:focus {
    outline: none;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: 'x';
}

.slick-lightbox .slick-loading .slick-list {
    background-color: transparent;
}


/*end slick-lightbox.css*/


/*** jgrowl ***/


/* #jQuery jGrowl
================================================== */

div.jGrowl {
    z-index: 9999;
    color: #fff;
    font-size: 12px;
}

div.ie6 {
    position: absolute;
}

div.ie6.top-right {
    right: auto;
    bottom: auto;
    left: expression((0 - jGrowl.offsetWidth+(document.documentElement.clientWidth ? document.documentElement.clientWidth: document.body.clientWidth)+(ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft))+'px');
    top: expression((0+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'px');
}

div.ie6.top-left {
    left: expression((0+(ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft))+'px');
    top: expression((0+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'px');
}

div.ie6.bottom-right {
    left: expression((0 - jGrowl.offsetWidth+(document.documentElement.clientWidth ? document.documentElement.clientWidth: document.body.clientWidth)+(ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft))+'px');
    top: expression((0 - jGrowl.offsetHeight+(document.documentElement.clientHeight ? document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'px');
}

div.ie6.bottom-left {
    left: expression((0+(ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft))+'px');
    top: expression((0 - jGrowl.offsetHeight+(document.documentElement.clientHeight ? document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'px');
}

div.ie6.center {
    left: expression((0+(ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft))+'px');
    top: expression((0+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'px');
    width: 100%;
}

div.jGrowl {
    position: absolute;
}

body>div.jGrowl {
    position: fixed;
    z-index: 999999;
}

div.jGrowl.top-left {
    left: 0;
    top: 0;
}

div.jGrowl.top-right {
    right: 0;
    top: 0;
}

div.jGrowl.bottom-left {
    left: 0;
    bottom: 0;
}

div.jGrowl.bottom-right {
    right: 0;
    bottom: 0;
}

div.jGrowl.center {
    top: 0;
    width: 50%;
    left: 25%;
}

div.center div.jGrowl-notification,
div.center div.jGrowl-closer {
    margin-left: auto;
    margin-right: auto;
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
    background-color: #ffffff;
    color: #828282;
    zoom: 1;
    width: 300px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    text-align: left;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dadada;
}

div.jGrowl div.jGrowl-notification {
    min-height: 40px;
    position: relative;
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
    margin: 20px 40px;
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
    font-weight: bold;
    font-size: .85em;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
    z-index: 99;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    color: #FF7201;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close .icon-remove-circle {
    display: block;
}

div.jGrowl div.jGrowl-notification div.jGrowl-message {
    display: inline-block;
}

div.jGrowl div.jGrowl-notification div.jGrowl-message img {
    max-width: 100%;
}

div.jGrowl div.jGrowl-notification .jGrowl-title {
    margin: 0;
    padding: 0;
}

div.jGrowl div.jGrowl-notification .jGrowl-note {
    margin-top: 5px;
    text-transform: uppercase;
}

div.jGrowl div.jGrowl-notification .jGrowl-note a {
    color: #828282;
}

div.jGrowl div.jGrowl-notification .jGrowl-note a:hover {
    color: #0186c8;
}

div.jGrowl div.jGrowl-notification .jGrowl-note ins {
    color: red;
    display: block;
    font-size: 14px;
    text-decoration: none;
}

div.jGrowl div.jGrowl-closer {
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    font-size: .9em;
    font-weight: bold;
    text-align: center;
    color: #1e1e1e;
}

div.jGrowl div.jGrowl-closer:hover {
    color: #828282;
}

@media print {
    div.jGrowl {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    div.jGrowl div.jGrowl-notification,
    div.jGrowl div.jGrowl-closer {
        margin-left: 10px;
        margin-right: 5px;
    }
}

.btn-defaults {
    background-color: #fff !important;
    border-color: #ccc !important;
    color: #333;
}

.red {
    color: red;
}

.red:hover {
    color: red;
    border-color: red !important;
}