
<div class="card mb-4">
	<h5 class="card-header">Chi tiết hồ sơ</h5>
	<!-- Warehouse -->
	<hr class="my-0" />
	<div class="card-body">
		<form id="formAccountSettings" method="POST" onsubmit="return false">
			<div class="row">
				<div class="mb-3 col-md-6">
					<label for="code" class="form-label">MÃ CHỨNG TỪ</label> <input
						class="form-control" type="text" id="code" name="code"
						placeholder="Code" autofocus />
				</div>
				<div class="mb-3 col-md-6 ">
					<label for="batches" class="form-label">LÔ HÀNG</label>
					<div class="d-flex align-items-start gap-3">
						<select id="batches" class="select2 form-select">
							<option value="">Batches</option>
							<option value="en">Nam</option>
							<option value="fr">Nữ</option>
						</select>
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#batchesModal">
							Thêm
						</button>
	
						<!-- Modal -->
						<div class="modal fade" id="batchesModal" tabindex="-1"
							aria-labelledby="batchesModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="batchesModalLabel">LÔ HÀNG</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">LÔ HÀNG</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary">Save
											changes</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-3 col-md-6">
					<label for="date" class="form-label">NGÀY NHẬP</label> <input
						class="form-control" type="date" name="date" id="date"
						placeholder="Date" />
				</div>
				<div class="mb-3 col-md-6 ">
					<label for="warehouse" class="form-label">KHO HÀNG</label>
					<div class="d-flex align-items-start gap-3">
						<select id="warehouse" class="select2 form-select">
							<option value="">Warehouse</option>
							<option value="en">Nam</option>
							<option value="fr">Nữ</option>
						</select>
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Thêm
						</button>
	
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">...</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary">Save
											changes</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-3 col-md-6">
					<label for="status" class="form-label">TRẠNG THÁI</label> <select
						id="status" class="select2 form-select">
						<option value="">Status</option>
						<option value="en">Nam</option>
						<option value="fr">Nữ</option>
					</select>
				</div>
				<div class="mb-3 col-md-6">
					<label for="username" class="form-label">NGƯỜI LẬP</label> <input
						class="form-control" type="text" id="username" name="username"
						placeholder="Username" autofocus />
				</div>
			</div>
			<br>
			<hr class="my-0" />
			<br>
			<div class="mb-3 col-md-12 d-flex justify-content-end">
				<div class="d-flex align-items-start gap-3">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search">
        			<button class="btn btn-outline-success" type="submit">Search</button>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive text-nowrap">
					<table class="table">
						<thead>
							<tr>
								<th>MÃ SẢN PHẨM</th>
								<th>TÊN SẢN PHẨM</th>
								<th>ĐƠN GIÁ</th>
								<th>SỐ LƯỢNG</th>
								<th>HÀNH ĐỘNG</th>
							</tr>
						</thead>
						<tbody class="table-border-bottom-0">
							<tr>
								<td><i class="fab fa-angular fa-lg text-danger me-3"></i> 
									<strong> NATT-5354 </strong>
								</td>
								<td>Giày Thể Thao Nam MWC NATT - 5354</td>
								<td style="width: 200px;">
									<input class="form-control" type="text" id="code" name="code" placeholder="Code" autofocus />
								</td>
								<td style="width: 150px;">
									<input class="form-control" type="text" id="code" name="code" placeholder="Quantity"/>
								</td>
								<td>
									<div class="dropdown">
										<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
											data-bs-toggle="dropdown">
											<i class="bx bx-dots-vertical-rounded"></i>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="javascript:void(0);"><i
												class="bx bx-edit-alt me-1"></i> Edit</a> <a class="dropdown-item"
												href="javascript:void(0);"><i
												class="bx bx-trash me-1"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td style="text-indent: 15px;">
									<i class="fab fa-angular fa-lg text-danger me-3"></i> 
									<strong> NATT-5354 </strong>
								</td>
								<td>Giày Thể Thao Nam MWC NATT - 5354</td>
								<td style="width: 200px;">
									<input class="form-control" type="text" id="code" name="code" placeholder="Code" autofocus />
								</td>
								<td style="width: 150px;">
									<input class="form-control" type="text" id="code" name="code" placeholder="Quantity"/>
								</td>
								<td>
									<div class="dropdown">
										<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
											data-bs-toggle="dropdown">
											<i class="bx bx-dots-vertical-rounded"></i>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="javascript:void(0);"><i
												class="bx bx-edit-alt me-1"></i> Edit</a> <a class="dropdown-item"
												href="javascript:void(0);"><i
												class="bx bx-trash me-1"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><i class="fab fa-angular fa-lg text-danger me-3"></i> 
									<strong> NATT-5354 </strong>
								</td>
								<td>Giày Thể Thao Nam MWC NATT - 5354</td>
								<td style="width: 200px;">
									<input class="form-control" type="text" id="code" name="code" placeholder="Code" autofocus />
								</td>
								<td style="width: 150px;">
									<input class="form-control" type="text" id="code" name="code" placeholder="Quantity"/>
								</td>
								<td>
									<div class="dropdown">
										<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
											data-bs-toggle="dropdown">
											<i class="bx bx-dots-vertical-rounded"></i>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="javascript:void(0);"><i
												class="bx bx-edit-alt me-1"></i> Edit</a> <a class="dropdown-item"
												href="javascript:void(0);"><i
												class="bx bx-trash me-1"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="mt-2">
				<button type="submit" class="btn btn-primary me-2">Tạo tài khoản</button>
				<button type="reset" class="btn btn-outline-secondary">Hủy bỏ</button>
			</div>
		</form>
	</div>
	<!-- /Account -->
</div>