<div class="card">
	<div class="col-md-12">
		<div class="card-body demo-vertical-spacing demo-only-element">
			<div class="mb-3 col-md-12 d-flex justify-content-end">
				<div class="d-flex align-items-start gap-3">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search">
        			<button class="btn btn-outline-success" type="submit">Search</button>
				</div>
			</div>
		</div>
	</div>
	<div class="table-responsive text-nowrap">
		<table class="table">
			<thead>
				<tr>
					<th>TÊN ĐĂNG NHẬP</th>
					<th>HỌ VÀ TÊN</th>
					<th>ẢNH ĐẠI DIỆN</th>
					<th>TRẠNG THÁI</th>
					<th>HÀNH ĐỘNG</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				<tr>
					<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular
							Project</strong></td>
					<td>Albert Cook</td>
					<td>
						<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Lilian Fuller"><img
								src="../assets/img/avatars/5.png" alt="Avatar"
								class="rounded-circle" /></li>
						</ul>
					</td>
					<td><span class="badge bg-label-primary me-1">Active</span></td>
					<td>
						<div class="dropdown">
							<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
								data-bs-toggle="dropdown">
								<i class="bx bx-dots-vertical-rounded"></i>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="javascript:void(0);"><i
									class="bx bx-edit-alt me-1"></i> Edit</a> <a class="dropdown-item"
									href="javascript:void(0);"><i
									class="bx bx-trash me-1"></i> Delete</a>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><i class="fab fa-react fa-lg text-info me-3"></i> <strong>React
							Project</strong></td>
					<td>Barry Hunter</td>
					<td>
						<ul
							class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Lilian Fuller"><img
								src="../assets/img/avatars/5.png" alt="Avatar"
								class="rounded-circle" /></li>
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Sophia Wilkerson"><img
								src="../assets/img/avatars/6.png" alt="Avatar"
								class="rounded-circle" /></li>
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Christina Parker"><img
								src="../assets/img/avatars/7.png" alt="Avatar"
								class="rounded-circle" /></li>
						</ul>
					</td>
					<td><span class="badge bg-label-success me-1">Completed</span></td>
					<td>
						<div class="dropdown">
							<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
								data-bs-toggle="dropdown">
								<i class="bx bx-dots-vertical-rounded"></i>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="javascript:void(0);"><i
									class="bx bx-edit-alt me-2"></i> Edit</a> <a class="dropdown-item"
									href="javascript:void(0);"><i
									class="bx bx-trash me-2"></i> Delete</a>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><i class="fab fa-vuejs fa-lg text-success me-3"></i> <strong>VueJs
							Project</strong></td>
					<td>Trevor Baker</td>
					<td>
						<ul
							class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Lilian Fuller"><img
								src="../assets/img/avatars/5.png" alt="Avatar"
								class="rounded-circle" /></li>
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Sophia Wilkerson"><img
								src="../assets/img/avatars/6.png" alt="Avatar"
								class="rounded-circle" /></li>
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Christina Parker"><img
								src="../assets/img/avatars/7.png" alt="Avatar"
								class="rounded-circle" /></li>
						</ul>
					</td>
					<td><span class="badge bg-label-info me-1">Scheduled</span></td>
					<td>
						<div class="dropdown">
							<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
								data-bs-toggle="dropdown">
								<i class="bx bx-dots-vertical-rounded"></i>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="javascript:void(0);"><i
									class="bx bx-edit-alt me-2"></i> Edit</a> <a class="dropdown-item"
									href="javascript:void(0);"><i
									class="bx bx-trash me-2"></i> Delete</a>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Bootstrap
							Project</strong></td>
					<td>Jerry Milton</td>
					<td>
						<ul
							class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Lilian Fuller"><img
								src="../assets/img/avatars/5.png" alt="Avatar"
								class="rounded-circle" /></li>
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Sophia Wilkerson"><img
								src="../assets/img/avatars/6.png" alt="Avatar"
								class="rounded-circle" /></li>
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Christina Parker"><img
								src="../assets/img/avatars/7.png" alt="Avatar"
								class="rounded-circle" /></li>
						</ul>
					</td>
					<td><span class="badge bg-label-warning me-1">Pending</span></td>
					<td>
						<div class="dropdown">
							<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
								data-bs-toggle="dropdown">
								<i class="bx bx-dots-vertical-rounded"></i>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="javascript:void(0);"><i
									class="bx bx-edit-alt me-2"></i> Edit</a> <a class="dropdown-item"
									href="javascript:void(0);"><i
									class="bx bx-trash me-2"></i> Delete</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="card mb-4">
	<div class="card-body">
		<div class="row">
			<div class="col-lg-4">
				
			</div>
			<div class="col-lg-8">
				<div class="demo-inline-spacing">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li class="page-item prev"><a class="page-link"
								href="javascript:void(0);"><i
									class="tf-icon bx bx-chevrons-left"></i></a></li>
							<li class="page-item"><a class="page-link"
								href="javascript:void(0);">1</a></li>
							<li class="page-item"><a class="page-link"
								href="javascript:void(0);">2</a></li>
							<li class="page-item active"><a class="page-link"
								href="javascript:void(0);">3</a></li>
							<li class="page-item"><a class="page-link"
								href="javascript:void(0);">4</a></li>
							<li class="page-item"><a class="page-link"
								href="javascript:void(0);">5</a></li>
							<li class="page-item next"><a class="page-link"
								href="javascript:void(0);"><i
									class="tf-icon bx bx-chevrons-right"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>