<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="fw-bold py-3 mb-4">
			<span class="text-muted fw-light">Cài đặt tài khoản/</span> Vai trò
		</h4>

		<!-- Basic Layout & Basic with Icons -->
		<div class="row">
			<!-- Basic with Icons -->
			<div class="col-xxl">
				<div class="card mb-4">
					<div
						class="card-header d-flex align-items-center justify-content-between">
						<h5 class="mb-0">Danh sách vai trò</h5>
					</div>
					<div class="table-responsive text-nowrap">
						<table class="table">
							<thead>
								<tr>
									<th>MÃ VAI TRÒ</th>
									<th>TÊN VAI TRÒ</th>
									<th>CẤP BẬC</th>
									<th>TRẠNG THÁI</th>
									<th>HÀNH ĐỘNG</th>
								</tr>
							</thead>
							<tbody class="table-border-bottom-0">
								<tr ng-repeat="role in roles">
									<td><strong>{{role.code}}</strong></td>
									<td>{{role.name}}</td>
									<td>
										 <span class="badge bg-success">{{role.level}}</span>
									</td>
									<td><span class="badge bg-label-primary me-1">{{role.activity?'Hoạt động':'Ngừng hoạt động'}}</span></td>
									<td>
										<div class="dropdown">
											<button type="button"
												class="btn p-0 dropdown-toggle hide-arrow"
												data-bs-toggle="dropdown">
												<i class="bx bx-dots-vertical-rounded"></i>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-edit-alt me-1"></i> Edit</a> <a
													class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-trash me-1"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>