<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/index.html :: dynamic(~{::body})}">
<head>
<meta charset="utf-8">
<title>Trang chủ Vina Cinema</title>
</head>
<body>
	
	 <link href="/assets/select2/dist/css/select2.min.css" rel="stylesheet">
        <section id="page-title" class="clearfix">
            <div class="container clearfix">
                <ol class="breadcrumb col-md-6 col-sm-6">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Giỏ hàng</li>
                </ol>
            </div>
        </section>
        <section id="content">
            <div class="container clearfix">

                <form id="frmAdd" method="POST" action="/cart/CheckOut" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-5">
                            <h4>Thông tin người mua/nhận hàng</h4>
                            <div class="form-group">
                                <input ng-model="cart.cart.fullname" placeholder="Họ và tên" class="form-control" maxlength="150" type="text" name="FullName" value="">
                            </div>

                            <div class="form-group">
                                <input ng-model="cart.cart.phone" placeholder="Số điện thoại" class="form-control" size="30" maxlength="11" type="text" name="Phone" value="">
                            </div>
                            <div class="form-group">
                                <input ng-model="cart.cart.email" placeholder="Email" class="form-control" size="30" maxlength="11" type="text" name="Email" value="">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="ProvinceId" id="ProvinceId" class="form-control select2_single" data-bind="options: ProvinceOptions,optionsText: 'Text',optionsValue: 'Value',value: ProvinceId"></select>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="DistrictId" id="DistrictId" class="form-control select2_single" data-bind="options: DistrictOptions,optionsText: 'Text',optionsValue: 'Value',value: DistrictId"></select>
                                    </div>

                                </div>
                            </div>
							<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="WardId" id="WardId" class="form-control select2_single select2-hidden-accessible" data-bind="options: WardOptions,optionsText: 'Text',optionsValue: 'Value',value: WardId" tabindex="-1" aria-hidden="true"></select><span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" style="width: 458px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-WardId-container"><span class="select2-selection__rendered" id="select2-WardId-container"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span><span class="error-desc" style="display: none;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input ng-model="cart.cart.address" placeholder="Địa chỉ giao hàng" class="form-control" maxlength="500" type="text" name="Address" value="" data-bind="value:Address">
                            </div>
                            <div class="form-group">
                                <textarea ng-model="cart.cart.description" rows="5" cols="20" placeholder="Ghi chú" class="form-control" maxlength="500" type="text" name="Notes" value=""></textarea>
                            </div>

                        </div>
                        <div class="col-md-7">
                            <h4>Chi tiết sản phẩm trong giỏ hàng</h4>
                            <table class="table table-cart">
                                <tbody data-bind="foreach:CartItems">
                                    <tr ng-repeat="cart_detail in cart.cart_details">
                                        <td>
                                            <!--ko if: Images.indexOf('http') < 0 -->
                                            <img ng-if="cart_detail.product_variant.id == null" ng-src="/products/{{cart_detail.product.product_images[0].name}}" width="80" />
                                            <!-- /ko -->
                                            <!--ko if: Images.indexOf('http') > -1-->
                                            <img ng-if="cart_detail.product_variant.id != null" ng-src="/variants/{{cart_detail.product_variant.image}}" width="80"/>
                                            <!-- /ko -->
                                        </td>
                                        <td>
                                            <p>{{cart_detail.product.name}}</p>
                                            
                                            <span ng-if="cart_detail.product_variant.id != null">{{cart_detail.product_variant.name}}</span>,
                                            
                                        </td>
                                        <td style="width: 160px;">
                                            <div>
                                                <span data-bind="text:Price.format(0, 3, ',')">{{cart_detail.price | number}}</span> *
                                            </div>
                                            <div>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control input-text-cart" ng-model="cart_detail.qty" />
                                                        </td>
                                                        <td>
                                                            <a href="javascript:;" class="btn-update-cart" data-bind="click:$parent.UpdateCart">Update</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            = <b>{{cart_detail.total | number}}</b><span>đ</span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" data-bind="click:$parent.RemoveCartItem"><i class="fa fa-close"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td colspan="2" class="text-right">
                                        Phí vận chuyển:
                                    </td>
                                    <td colspan="2">
                                        <input type="hidden" name="ShippingFee" data-bind="value:FeePrice" />
                                        <b data-bind="text:FeePrice().format(0, 3, ',')"></b> <span>đ</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-right">
                                        Tổng cộng:
                                    </td>
                                    <td colspan="2">
                                        <b data-bind="text:(TotalPrice() +FeePrice()).format(0, 3, ',')"></b> <span>đ</span>
                                    </td>
                                </tr>
                            </table>

                            <hr />
                            <button class="btn btn-cart-payment" data-bind="click:Submit">Đặt hàng</button>
                        </div>
                        
                    </div>
                </form>
            </div>
            <!-- #content end -->
        </section>

        <script type="text/javascript">
            var data = {
                "SlideItems": null,
                "CollectionItems": null,
                "PostItems": null,
                "PostViewCountItems": null,
                "CategoryInfo": null,
                "ProductItems": null,
                "ProductRelatedViewItems": null,
                "OrderByOptions": null,
                "ProductInfo": null,
                "PostInfo": null,
                "CartItems": [{
                    "ProductId": 6455,
                    "ProductName": "Balô Túi Đeo Chéo MWC TUID- 0816",
                    "KeySlug": "balo-tui-deo-cheo-mwc-tuid--0816",
                    "Images": "//Upload/2022/02/z3179971549130-5312771843e9a9914ec56ce624ae2764.jpg",
                    "Price": 135000.0000,
                    "Qty": 1,
                    "Size": "Free Size",
                    "Color": "XANHB",
                    "TotalPrice": 135000.0000
                }],
                "ConfigItems": [{
                    "Id": 2,
                    "Name": "Hotline",
                    "Key": "HOTLINE",
                    "Value": "1900.633.349"
                }, {
                    "Id": 3,
                    "Name": null,
                    "Key": "METATITLE",
                    "Value": "Shop giày MWC, giày nam, giày nữ HCM"
                }, {
                    "Id": 4,
                    "Name": null,
                    "Key": "METAKEYWORD",
                    "Value": "mwcshop, giày mwc, giày nam, giày nữ, shop giày nam, shop giày nữ, giày thể thao, giày sandal, giày boot, giày boot, giày thời trang, giày giá rẻ, giày chính hãng, giày dự tiệc, giày công sở, giày 2018, giày búp bê, giày cao gót, giày đế bệt"
                }, {
                    "Id": 5,
                    "Name": null,
                    "Key": "METADESCRIPTION",
                    "Value": "Giày MWC là hệ thống thời trang gồm hơn 72chi nhánh ở TP. HCM và khắp các tỉnh thành trên toàn quốc. Với các mẫu giày dép thời trang, sang trọng, luôn cập nhật xu hướng mới nhất. Hệ thống giao hàng toàn quốc, sản phẩm được bảo hành vĩnh viễn."
                }],
                "DepartmentItems": null,
                "PriceOptions": null,
                "ColorOptions": [],
                "SizeOptions": null,
                "ProductDetailItems": null,
                "StoreItems": null,
                "HostThumnail": "https://img.mwc.com.vn/giay-thoi-trang",
                "ProvinceOptions": [{
                    "Value": "0",
                    "Text": "--Chọn Tỉnh/Thành--",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "70",
                    "Text": "TP Hồ Chí Minh",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "90",
                    "Text": "TP Cần Thơ",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "81",
                    "Text": "Đồng Nai",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "82",
                    "Text": "Bình Dương",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "83",
                    "Text": "Bình Phước",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "84",
                    "Text": "Tây Ninh",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "85",
                    "Text": "Long An",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "86",
                    "Text": "Tiền Giang",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "87",
                    "Text": "Đồng Tháp",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "88",
                    "Text": "An Giang",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "89",
                    "Text": "Vĩnh Long",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "91",
                    "Text": "Hậu Giang",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "92",
                    "Text": "Kiên Giang",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "93",
                    "Text": "Bến Tre",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "94",
                    "Text": "Trà Vinh",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "95",
                    "Text": "Sóc Trăng",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "96",
                    "Text": "Bạc Liêu",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "97",
                    "Text": "Cà Mau",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "79",
                    "Text": "Bà Rịa Vũng Tàu",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "80",
                    "Text": "Bình Thuận",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "10",
                    "Text": " TP Hà Nội",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "16",
                    "Text": "Hưng Yên",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "17",
                    "Text": "Hải Dương",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "18",
                    "Text": " TP Hải Phòng",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "20",
                    "Text": "Quảng Ninh",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "22",
                    "Text": "Bắc Ninh",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "23",
                    "Text": "Bắc Giang",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "24",
                    "Text": "Lạng Sơn",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "25",
                    "Text": "Thái Nguyên",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "26",
                    "Text": "Bắc Kạn",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "27",
                    "Text": "Cao Bằng",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "28",
                    "Text": "Vĩnh Phúc",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "29",
                    "Text": "Phú Thọ",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "30",
                    "Text": "Tuyên Quang",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "31",
                    "Text": "Hà Giang",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "32",
                    "Text": "Yên Bái",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "33",
                    "Text": "Lào Cai",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "35",
                    "Text": "Hoà Bình",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "36",
                    "Text": "Sơn La",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "38",
                    "Text": "Điện Biên",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "39",
                    "Text": "Lai Châu",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "40",
                    "Text": "Hà Nam",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "41",
                    "Text": "Thái Bình",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "42",
                    "Text": "Nam Địnhh",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "43",
                    "Text": "Ninh Bình",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "44",
                    "Text": "Thanh Hoá",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "46",
                    "Text": "Nghệ An",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "48",
                    "Text": "Hà Tĩnh",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "51",
                    "Text": "Quảng Bình",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "52",
                    "Text": "Quảng Trị",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "53",
                    "Text": "Thừa Thiên Huế",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "55",
                    "Text": "TP Đà Nẵng",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "56",
                    "Text": "Quảng Nam",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "57",
                    "Text": "Quảng Ngãi",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "58",
                    "Text": "Kon Tum",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "59",
                    "Text": "Bình Định",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "60",
                    "Text": "Gia Lai",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "62",
                    "Text": "Phú Yên",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "63",
                    "Text": "Đắk Lăk",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "64",
                    "Text": "Đắk Nông",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "65",
                    "Text": "Khánh Hoà",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "66",
                    "Text": "Ninh Thuận",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }, {
                    "Value": "67",
                    "Text": "Lâm Đồng",
                    "Selected": false,
                    "Blocked": false,
                    "Temp": null
                }],
                "DistrictOptions": [],
                "PriceShippingFee": 0,
                "AccountInfo": {
                    "Id": 0,
                    "UserName": null,
                    "Password": null,
                    "FullName": null,
                    "Phone": null,
                    "Email": null,
                    "Gender": null,
                    "Birthday": null,
                    "Address": null,
                    "AccumulatedPoints": null,
                    "InActive": null,
                    "LastLogon": null,
                    "AvataUrl": null,
                    "ActiveKey": null,
                    "CreateDate": null,
                    "TotalOrder": 0,
                    "PurchaseHistoryItems": [],
                    "OldPassword": null,
                    "ConfirmPassword": null,
                    "BirthdayDate": null,
                    "IsChangePass": false,
                    "ExchangePrice": 0
                },
                "ProductImageItems": [],
                "ProductLiveStream": null,
                "CurrentUser": null,
                "TabName": null,
                "ActionName": null,
                "TotalCart": 0,
                "TotalPrice": 135000.0000,
                "TotalStore": 0,
                "QueryStrings": null,
                "SortBy": null,
                "OrderBy": null,
                "PageIndex": 0,
                "PageSize": 0,
                "TotalCount": 0,
                "TotalPages": 0
            };

            function formatNumberInput(value) {
                value += '';
                value = value.replace(/[~!#$%^&*()_+=<>?]/g, '');
                value = value.replace(/[a-z]/g, '');
                value = value.replace(/[A-Z]/g, '');
                value = value.replace(/\,/g, '');
                value = value.replace(/\,/g, '');
                value = value.replace(/\,/g, '');
                value = value.replace(/\,/g, '');
                value = value.replace(/\-/, '');
                value = value.replace(/\-/, '');
                value = value.replace(/\-/, '');
                value = value.replace(/\-/, '');
                value = value.replace(/\./, '');
                value = value.replace(/\./, '');
                value = value.replace(/\./, '');
                value = value.replace(/\./, '');
                if (value === '')
                    return 1;
                return parseInt(value);
            }

            function valueUpdated(element) {
                element.value = formatNumberInput(element.value);
            }
        </script>
        <script src="/Content/js/Cart.js?ver=20220409172942"></script>
	</body>
</html>