<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="fw-bold py-3 mb-4">
			<span class="text-muted fw-light">Quản lý sản phẩm/</span> Nhóm thuộc tính
		</h4>

		<!-- Basic Layout & Basic with Icons -->
		<div class="row">
			<!-- Basic Layout -->
			<div class="col-xxl">
				<div class="card mb-4">
					<div
						class="card-header d-flex align-items-center justify-content-between">
						<h5 class="mb-0">Thông tin chi tiết</h5>
					</div>
					<div class="card-body">
						<form>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label" for="code">MÃ NHÓM</label>
								<div class="col-sm-9">
									<input ng-if="!form.id" ng-model="form.code" type="text" class="form-control" id="code"
										placeholder="Code" />
									<div ng-if="form.id" class="form-control">{{form.code}}</div>
									<span class="text-danger" ng-show="error.code">{{error.code}}</span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label"
									for="name">TÊN NHÓM</label>
								<div class="col-sm-9">
									<input ng-model="form.name" type="text" class="form-control"
										id="name" placeholder="Name" />
									<span class="text-danger" ng-show="error.name">{{error.name}}</span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label" for="type">LOẠI</label>
								<div class="col-sm-9">
									<select ng-model="form.type" id="type" class="select2 form-select">
										<option value="">Type</option>
										<option value="TYPE_COLOR">Màu sắc</option>
										<option value="TYPE_IMAGE">Hình ảnh</option>
										<option value="TYPE_LABEL">Nhãn</option>
									</select>
									<span class="text-danger" ng-show="error.activity">{{error.activity}}</span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label"
									for="name">CẤP BẬC</label>
								<div class="col-sm-9">
									<input ng-model="form.level" type="text" class="form-control"
										id="name" placeholder="Level" />
									<span class="text-danger" ng-show="error.level">{{error.level}}</span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label" for="activity">TRẠNG THÁI</label>
								<div class="col-sm-9">
									<select ng-model="form.activity" id="activity" class="select2 form-select">
										<option value="">Status</option>
										<option value="true">Hoạt động</option>
										<option value="false">Khóa</option>
									</select>
									<span class="text-danger" ng-show="error.activity">{{error.activity}}</span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label"
									for="description">MÔ TẢ</label>
								<div class="col-sm-9">
									<textarea ng-model="form.description" id="description" class="form-control"
										placeholder="Description"
										aria-label="Hi, Do you have a moment to talk Joe?"
										aria-describedby="basic-icon-default-message2"></textarea>
								</div>
							</div>
							<div class="row justify-content-end">
								<div class="col-sm-9">
									<button ng-if="!form.id" ng-click="create()" type="submit" class="btn btn-primary">Lưu</button>
									<button ng-if="form.id" ng-click="update()" type="submit" class="btn btn-primary me-2">Cập nhật</button>
									<button type="reset"  ng-click="reset()" class="btn btn-outline-secondary">Hủy bỏ</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Basic with Icons -->
			<div class="col-xxl">
				<div class="card">
					<h5 class="card-header">DANH SÁCH CÁC NHÓM THUỘC TÍNH</h5>
					<div class="card-body demo-vertical-spacing demo-only-element col-8">
						<div class="d-flex align-items-start gap-3">
							<input class="form-control" ng-model="key_search" type="search" placeholder="TÊN THUỘC TÍNH" aria-label="Search">
		        			<button ng-click="search(key_search)" class="btn btn-outline-success" type="submit">
		        				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
		  							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
								</svg>
							</button>
						</div>
					</div>
					<div class="table-responsive text-nowrap">
						<table class="table">
							<thead>
								<tr>
									<th>MÃ</th>
									<th>TÊN NHÓM</th>
									<th>LOẠI</th>
									<th>TRẠNG THÁI</th>
									<th>HÀNH ĐỘNG</th>
								</tr>
							</thead>
							<tbody class="table-border-bottom-0">
								<tr ng-repeat="attribute_group in pager.attribute_groups">
									<td><i class="fab fa-angular fa-lg text-danger me-3"></i>
										<strong>{{attribute_group.code}}</strong></td>
									<td>{{attribute_group.name}}</td>
									<td ng-if="attribute_group.type == 'TYPE_COLOR'">Màu sắc</td>
									<td ng-if="attribute_group.type == 'TYPE_IMAGE'">Hình ảnh</td>
									<td ng-if="attribute_group.type == 'TYPE_LABEL'">Nhãn</td>
									<td><span class="badge bg-label-primary me-1">{{attribute_group.activity?'Hoạt động':'Đang khóa'}}</span></td>
									<td>
										<div class="dropdown">
											<button type="button"
												class="btn p-0 dropdown-toggle hide-arrow"
												data-bs-toggle="dropdown">
												<i class="bx bx-dots-vertical-rounded"></i>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);" ng-click="edit(attribute_group)"><i
													class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a> 
												<a class="dropdown-item" href="javascript:void(0);" ng-click="delete(attribute_group)"><i
													class="bx bx-trash me-1"></i> Xóa</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-4"></div>
							<div class="col-lg-8">
								<div class="demo-inline-spacing">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<li class="page-item prev" ng-click="pager.first()">
												<a class="page-link" href="javascript:void(0);">
													<i class="tf-icon bx bx-chevrons-left"></i>
												</a>
											</li>
											<li class="page-item prev" ng-click="pager.prev()">
												<a class="page-link" href="javascript:void(0);">
													<i class="tf-icon bx bx-chevron-left"></i>
												</a>
											</li>
											<li class="page-item next" ng-click="pager.next()">
												<a class="page-link" href="javascript:void(0);">
													<i class="tf-icon bx bx-chevron-right"></i>
												</a>
											</li>
											<li class="page-item next" ng-click="pager.last()">
												<a class="page-link" href="javascript:void(0);">
													<i class="tf-icon bx bx-chevrons-right"></i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>