
<div class="card mb-4">
	<h5 class="card-header">Chi tiết hồ sơ</h5>
	<!-- Account -->
	<div class="card-body">
		<form id="formAccountSettings" method="POST" onsubmit="return false">
			<div class="row">
				<div class="mb-3 col-md-6">
					<label for="shipping_type" class="form-label">ĐƠN VỊ VẬN CHUYỂN</label>
					<select ng-model="form.shipping_type" id="shipping_type" class="select2 form-select">
						<option value="">Shipping Type</option>
						<option ng-repeat="shipping_type in shipping_types" ng-value="shipping_type">{{shipping_type.name}}</option>
					</select>
					<span class="text-danger" ng-show="error.shipping_type">{{error.shipping_type}}</span>
				</div>
				<div class="mb-3 col-md-6">
					<label for="name" class="form-label">TÊN BẢNG GIÁ</label> 
					<input ng-model="form.name"
						class="form-control" type="text" id="name" name="name"
						placeholder="Name" autofocus />
					<span class="text-danger" ng-show="error.name">{{error.name}}</span>
				</div>
				<div class="mb-3 col-md-6">
					<label for="cod_fee" class="form-label">PHÍ THU TIỀN COD</label> <input
						ng-model="form.cod_fee"
						class="form-control" type="text" name="cod_fee" id="cod_fee"
						placeholder="COD fee" />
					<span class="text-danger" ng-show="error.cod_fee">{{error.cod_fee}}</span>
				</div>
				<div class="mb-3 col-md-6">
					<label for="commodity_value" class="form-label">MỨC CƠ BẢN GIÁ TRỊ HÀNG HÓA</label> <input
						ng-model="form.commodity_value"
						type="text" class="form-control" id="commodity_value" name="commodity_value"
						placeholder="Commodity value" />
					<span class="text-danger" ng-show="error.commodity_value">{{error.commodity_value}}</span>
				</div>
				<div class="mb-3 col-md-6">
					<label for="less_than" class="form-label">PHÍ GIÁ TRỊ HÀNG HÓA TỪ MỨC CƠ BẢN TRỞ XUỐNG</label> <input
						ng-model="form.less_than"
						type="text" class="form-control" id="less_than" name="less_than"
						placeholder="Less than" />
					<span class="text-danger" ng-show="error.less_than">{{error.less_than}}</span>
				</div>
				<div class="mb-3 col-md-6">
					<label class="form-label" for="type_less_than">LOẠI PHÍ</label> 
					<select ng-model="form.type_less_than" id="type_less_than" class="select2 form-select">
						<option ng-value="">Type Less Than</option>
						<option ng-value="1">Giá tiền cố định</option>
						<option ng-value="2">Phần trăm(%) giá trị hàng hóa đã khai báo</option>
					</select>
					<span class="text-danger" ng-show="error.type_less_than">{{error.type_less_than}}</span>
				</div>
				<div class="mb-3 col-md-6">
					<label for="bigger" class="form-label">PHÍ GIÁ TRỊ HÀNG HÓA LỚN HƠN MỨC CƠ BẢN</label> <input
						ng-model="form.bigger"
						type="text" class="form-control" id="bigger" name="bigger"
						placeholder="Bigger" />
					<span class="text-danger" ng-show="error.bigger">{{error.bigger}}</span>
				</div>
				<div class="mb-3 col-md-6">
					<label class="form-label" for="type_bigger">LOẠI PHÍ</label> 
					<select ng-model="form.type_bigger" id="type_bigger" class="select2 form-select">
						<option ng-value="">Type Bigger</option>
						<option ng-value="1">Giá tiền cố định</option>
						<option ng-value="2">Phần trăm(%) giá trị hàng hóa đã khai báo</option>
					</select>
					<span class="text-danger" ng-show="error.type_bigger">{{error.type_bigger}}</span>
				</div>
				<div class="mb-3 col-md-6">
					<label for="activity" class="form-label">TRẠNG THÁI</label> 
					<select ng-model="form.activity" id="activity" class="select2 form-select">
						<option ng-value="">Activity</option>
						<option ng-value="true">Hoạt động</option>
						<option ng-value="false">Dừng hoạt động</option>
					</select>
					<span class="text-danger" ng-show="error.activity">{{error.activity}}</span>
				</div>
				<div class="mb-3 col-md-6">
					<label for="special_cities" class="form-label">VÙNG ĐẶC BIỆT</label> 
					<select ng-model="city" ng-change="choose_special_cities(city)" id="city" class="select3 form-select">
						<option value="">Special Cities</option>
						<option ng-repeat="city in cities" ng-value="city">{{city.name}}</option>
					</select>
					<span class="text-danger" ng-show="error.ward">{{error.special_cities}}</span>
				</div>
			</div>
			<div class="col-md">
                  <div class="card bg-dark">
                    <h5 class="card-header text-white">VÙNG ĐẶC BIỆT</h5>
                    <div class="card-body">
                    	<div ng-repeat="city in form.cities" class="alert alert-primary alert-dismissible">
                        	{{city.name}}
                        <button ng-click="revoke_special_city(city)" type="button" class="btn-close"></button>
                      </div>
                    </div>
                  </div>
            </div>
            <br>
			<div class="mt-2">
				<button ng-if="!form.id" type="submit" ng-click="create()" class="btn btn-primary me-2">Tạo bảng giá</button>
				<button ng-if="form.id" type="submit" ng-click="update()" class="btn btn-primary me-2">Sửa bảng giá</button>
				<button type="reset"  ng-click="reset()" class="btn btn-outline-secondary">Hủy bỏ</button>
			</div>
		</form>
	</div>
	<!-- /Account -->
</div>

<div class="card" ng-if="form.id && checked_blocked == 1">
	<h5 class="card-header">Khóa tài khoản</h5>
	<div class="card-body">
		<div class="mb-3 col-12 mb-0">
			<div class="alert alert-warning">
				<h6 class="alert-heading fw-bold mb-1">Bạn có chắc rằng bạn muốn khóa tài khoản này?</h6>
				<p class="mb-0">Sau khi bạn khóa tài khoản này, tài khoản sẽ không được phép truy cập vào hệ thống. Hãy chắc chắn.</p>
			</div>
		</div>
		<form id="formAccountDeactivation" onsubmit="return false">
			<div class="form-check mb-3">
				<input class="form-check-input" type="checkbox" ng-model="checked_confirm"
					name="accountActivation" id="accountActivation" /> <label
					class="form-check-label" for="accountActivation">Tôi xác nhận việc khóa tài khoản này</label>
			</div>
			<span class="text-danger" ng-show="error.confirm">{{error.confirm}}</span> <br> <br>
			<button type="submit" ng-click="block(checked_confirm)" class="btn btn-danger deactivate-account">Khóa tài khoản</button>
			<button type="reset"  ng-click="reset_deleted_blocked()" class="btn btn-outline-secondary">Hủy bỏ</button>
		</form>
	</div>
</div>
<br>
<div class="card" ng-if="form.id && checked_open == 1">
	<h5 class="card-header">Mở khóa tài khoản</h5>
	<div class="card-body">
		<div class="mb-3 col-12 mb-0">
			<div class="alert alert-warning">
				<h6 class="alert-heading fw-bold mb-1">Bạn có chắc rằng bạn muốn mở khóa tài khoản này?</h6>
				<p class="mb-0">Sau khi bạn mở khóa tài khoản này, tài khoản sẽ được phép truy cập vào hệ thống. Hãy chắc chắn.</p>
			</div>
		</div>
		<form id="formAccountDeactivation" onsubmit="return false">
			<div class="form-check mb-3">
				<input class="form-check-input" type="checkbox" ng-model="checked_confirm"
					name="accountActivation" id="accountActivation" /> <label
					class="form-check-label" for="accountActivation">Tôi xác nhận việc mở khóa tài khoản này</label>
			</div>
			<span class="text-danger" ng-show="error.confirm">{{error.confirm}}</span> <br> <br>
			<button type="submit" ng-click="open(checked_confirm)" class="btn btn-danger deactivate-account">Mở khóa tài khoản</button>
			<button type="reset"  ng-click="reset_deleted_blocked()" class="btn btn-outline-secondary">Hủy bỏ</button>
		</form>
	</div>
</div>
<br>
<div class="card" ng-if="form.id && checked_deleted == 1">
	<h5 class="card-header">Xóa tài khoản</h5>
	<div class="card-body">
		<div class="mb-3 col-12 mb-0">
			<div class="alert alert-warning">
				<h6 class="alert-heading fw-bold mb-1">Bạn có chắc rằng bạn muốn xóa tài khoản này?</h6>
				<p class="mb-0">Sau khi bạn xóa tài khoản này, bạn sẽ không thể quay lại. Hãy chắc chắn.</p>
			</div>
		</div>
		<form id="formAccountDeactivation2" onsubmit="return false">
			<div class="form-check mb-3">
				<input class="form-check-input" type="checkbox" ng-model="checked_confirm"
					name="accountActivation2" id="accountActivation2" /> <label
					class="form-check-label" for="accountActivation2">Tôi xác nhận việc xóa tài khoản này.</label>
			</div>
			<span class="text-danger" ng-show="error.confirm">{{error.confirm}}</span> <br> <br>
			<button type="submit" ng-click="delete(checked_confirm)" class="btn btn-danger deactivate-account me-2">Xóa tài khoản</button>
			<button type="reset"  ng-click="reset_deleted_blocked()" class="btn btn-outline-secondary">Hủy bỏ</button>
		</form>
	</div>
</div>