<div class="card">
	<div class="col-md-12">
		<div class="card-body demo-vertical-spacing demo-only-element">
			
		</div>
	</div>
	<div class="table-responsive text-nowrap">
		<table class="table">
			<thead>
				<tr>
					<th>TÊN BẢNG GIÁ</th>
					<th>ĐƠN VỊ VẬN CHUYỂN</th>
					<th>LOGO</th>
					<th>TRẠNG THÁI</th>
					<th>HÀNH ĐỘNG</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				<tr ng-repeat="price_list in price_lists">
					<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{price_list.name}}</strong></td>
					<td>{{price_list.shipping_type.name}}</td>
					<td>
						<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Lilian Fuller"><img
								ng-src="/shipping_types/{{price_list.shipping_type.logo}}" alt="Logo"
								class="rounded-circle" /></li>
						</ul>
					</td>
					<td><span class="badge bg-label-primary me-1">{{price_list.activity?'Hoạt động':'Đang khóa'}}</span></td>
					<td>
						<div class="dropdown">
							<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
								data-bs-toggle="dropdown">
								<i class="bx bx-dots-vertical-rounded"></i>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="javascript:void(0);" ng-click="edit(account)">
									<i class="bx bx-edit-alt me-1"></i> Chỉnh sửa
								</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>