<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">Cài đặt tài khoản /</span> {{tab_name}}
	</h4>

	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills flex-column flex-md-row mb-3 ml-auto" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation"><button ng-click="tab_name_change.tab_account()" class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="bx bx-user me-1"></i>Bảng giá</button></li>
				<li class="nav-item" role="presentation"><button ng-click="tab_name_change.tab_authority()" class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="bx bx-lock-open-alt"></i>Chi tiết bảng giá </button></li>
				<li class="nav-item" role="presentation"><button ng-click="tab_name_change.tab_list()" class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="bx bx-table me-1"></i>Danh sách bảng giá</button></li>
			</ul>
		</div>
		<div class="tab-content col-md-12" id="pills-tabContent">
			  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" ng-include="'/admin/layout/price_list/_form.html'"></div>
			  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" ng-include="'/admin/layout/account/_authority.html'"></div>
			  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" ng-include="'/admin/layout/price_list/_table.html'"></div>
		</div>
	</div>
</div>
