<div class="card mb-4">
	<h5 class="card-header">Thông tin chi tiết</h5>
	<div class="card-body">
		<form id="formAccountSettings" method="POST" onsubmit="return false">
			<div class="row">
				<div class="mb-3 col-md-7">
					<div class="mb-3 col-md-12">
						<label for="code" class="form-label">MÃ SẢN PHẨM</label> 
						<input ng-model="form.code" class="form-control" type="text" id="code" name="code" placeholder="Code" autofocus />
						<span class="text-danger" ng-show="error.code">{{error.code}}</span>
					</div>
					<div class="mb-3 col-md-12">
						<label for="name" class="form-label">TÊN SẢN PHẨM</label> 
						<input ng-model="form.name" class="form-control" type="text" id="name" name="name" placeholder="Name" autofocus />
						<span class="text-danger" ng-show="error.name">{{error.name}}</span>
					</div>
					<div class="mb-3 col-md-12">
						<label for="price" class="form-label">GIÁ SẢN PHẨM</label> 
						<div class="d-flex align-items-start gap-3">
							<input ng-model="form.price" style="width: 80%;" class="form-control" type="text" id="price" name="price" placeholder="Price" autofocus />
							<button ng-if="form.id" ng-click="updatePrice()" type="button" class="btn btn-primary">
								Cập nhật
							</button>
						</div>
						<span class="text-danger" ng-show="error.price">{{error.price}}</span>
					</div>
					<div class="mb-3 col-md-12">
						<label class="form-label" for="brands">THƯƠNG HIỆU</label> 
						<select ng-model="form.brand" id="brands" class="select2 form-select">
							<option value="">Brand</option>
							<option ng-repeat="brand in brands" ng-value="brand">{{brand.name}}</option>
						</select>
						<span class="text-danger" ng-show="error.brand">{{error.brand}}</span>
					</div>
					<div class="mb-3 col-md-12">
						<label class="form-label" for="type">LOẠI SẢN PHẨM</label> 
						<select ng-model="form.type"  id="type" class="select2 form-select">
							<option value="">Type</option>
							<option value="TYPE_PRODUCT">Thương mại</option>
							<option value="TYPE_GIFT">Quà tặng</option>
						</select>
						<span class="text-danger" ng-show="error.type">{{error.type}}</span>
					</div>
					<div class="mb-3 col-md-12">
						<label class="form-label" for="units">ĐƠN VỊ TÍNH</label> 
						<select ng-model="form.unit" id="units" class="select2 form-select">
							<option value="">Unit</option>
							<option ng-repeat="unit in units" ng-value="unit">{{unit.name}}</option>
						</select>
						<span class="text-danger" ng-show="error.unit">{{error.unit}}</span>
					</div>
					<div class="mb-3 col-md-12">
						<label class="form-label" for="weight">TRỌNG LƯỢNG <i style="color: red;">(TÍNH TRỌNG LƯỢNG KHI ĐÓNG GÓI HÀNG)</i> </label> 
						<div class="d-flex align-items-start gap-3">
							<input class="form-control" ng-model="form.weight" type="text" placeholder="Weight">
		        			<select ng-model="form.weight_unit" id="weight_units" class="select2 form-select">
								<option value="">Weight Unit</option>
								<option value="WEIGHT_UNIT_KG">Kg</option>
								<option value="WEIGHT_UNIT_GAM">Gam</option>
							</select>
						</div>
						<span class="text-danger" ng-show="error.weight">{{error.weight}}</span>
						<span class="text-danger" ng-show="error.weight_unit">{{error.weight_unit}}</span>
					</div>
					<div class="mb-3 col-md-12">
						<label class="form-label" for="activity">TRẠNG THÁI</label> 
						<select ng-model="form.activity"  id="activity" class="select2 form-select">
							<option ng-value="">Status</option>
							<option ng-value="true">Đang bán</option>
							<option ng-value="false">Dừng bán</option>
						</select>
						<span class="text-danger" ng-show="error.activity">{{error.activity}}</span>
					</div>
					<div class="mb-3 col-md-12">
						 <label for="exampleFormControlTextarea1" class="form-label">MÔ TẢ NGẮN</label>
                         <textarea ng-model="form.short_description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						 <span class="text-danger" ng-show="error.short_description">{{error.short_description}}</span>
					</div>
					<div class="mb-3 col-md-12">
						<label for="description" class="form-label">MÔ TẢ SẢN PHẨM</label> 
						<ng-ckeditor id="description" ng-model="form.description" ng-config="config"></ng-ckeditor>
						<span class="text-danger" ng-show="error.description">{{error.description}}</span>
					</div>
					<div>{{form.description}}</div>
					<div class="mb-3 col-md-12">
						<label for="size_chart" class="form-label">HƯỚNG DẪN CHỌN SIZE</label> 
						<ng-ckeditor id="size_chart" ng-model="form.size_chart" ng-config="config"></ng-ckeditor>
						<span class="text-danger" ng-show="error.size_chart">{{error.description}}</span>
					</div>
					<div class="mb-3 col-md-12">
						<button ng-if="!form.id" ng-click="create()" type="submit" class="btn btn-primary me-2">Tạo sản phẩm</button>
						<button ng-if="form.id" ng-click="update()" type="submit" class="btn btn-primary me-2">Cập nhật sản phẩm</button>
						<button ng-if="form.id" type="submit" ng-click="delete()" class="btn btn-danger me-2">Xóa sản phẩm</button>
						<button ng-click="reset()" type="reset" class="btn btn-outline-secondary">Hủy bỏ</button>
					</div>
				</div>
				<div class="mb-3 col-md-5">
					<div class="mb-3 col-md-12">
						<label for="image" class="form-label">HÌNH ẢNH SẢN PHẨM</label>
						<div class="d-flex align-items-start align-items-sm-center gap-4 form-control">
							<img ng-src="/products/{{image.name}}" alt="product-image" class="d-block rounded" height="100" width="100" id="uploadedImage" />
							<div class="button-wrapper">
								<label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0"> 
									<span class="d-none d-sm-block">Tải lên ảnh mới</span> <i class="bx bx-upload d-block d-sm-none"></i> 
									<input onchange="angular.element(this).scope().imagesChanged(this.files)" type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
								</label>
								<button type="button" ng-click="resetImages()"
									class="btn btn-outline-secondary account-image-reset mb-4">
									<i class="bx bx-reset d-block d-sm-none"></i> <span
										class="d-none d-sm-block">Cài lại</span>
								</button>
								<p class="text-muted mb-0">Tải hình ảnh cho sản phẩm.</p>
								<span class="text-danger" ng-show="error.images">{{error.images}}</span>
							</div>
						</div>
						<br>
						<div class="table-responsive text-nowrap">
							<table class="table">
								<thead>
									<tr>
										<th>TÊN</th>
										<th>HÌNH ẢNH</th>
										<th>HÀNH ĐỘNG</th>
									</tr>
								</thead>
								<tbody class="table-border-bottom-0">
									<tr ng-repeat="image in images">
										<td><i class="fab fa-angular fa-lg text-danger me-3"></i>
											<strong>{{image.name}}</strong></td>
										<td>
											<ul
												class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
												<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
													data-bs-placement="top" class="avatar avatar-xs pull-up"
													title="Lilian Fuller"><img
													ng-src="/products/{{image.name}}" alt="Image"
													class="rounded-circle" /></li>
											</ul>
										</td>
										<td>
											<div class="dropdown">
												<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
													data-bs-toggle="dropdown">
													<i class="bx bx-dots-vertical-rounded"></i>
												</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="javascript:void(0);" ng-click="viewImage(image)">
														<i class="bx bx-edit-alt me-1"></i> Hiển thị
													</a>
													<a class="dropdown-item" href="javascript:void(0);" ng-click="deleteImage(image)"><i
														class="bx bx-trash me-1"></i> Xóa
													</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<br>
					<div class="mb-3 col-md-12">
						<label for="confirmPassword" class="form-label">DANH MỤC SẢN PHẨM</label> <br>
						<span class="text-danger" ng-show="error.categories">{{error.categories}}</span>
						<div class="demo-inline-spacing mt-3">
							<div class="list-group">
								<label class="list-group-item" ng-repeat="category_group in category_groups"> {{category_group.name}}
									<div class="demo-inline-spacing mt-3">
										<div class="list-group list-group-flush">
											<label class="list-group-item list-group-item-action" ng-repeat="category in category_group.categories">
												<input class="form-check-input me-1" type="checkbox" 
													ng-checked="product_category_of(category)"
													ng-click="product_category_changed(category)"/> {{category.name}}
											</label>
										</div>
									</div>
								</label> 
							</div>
						</div>
					</div>
				</div>
		</form>
	</div>
	<!-- /Account -->
</div>