<div class="card">
	<div class="col-md-6">
		<div class="card-body demo-vertical-spacing demo-only-element col-12">
			<div class="d-flex align-items-start gap-3">
				<input class="form-control" ng-model="key_search" type="search" placeholder="MÃ SẢN PHẨM" aria-label="Search">
			    <button ng-click="search(key_search)" class="btn btn-outline-success" type="submit">
			        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
			  			<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
				</button>
			</div>
		</div>
	</div>
	<div class="table-responsive text-nowrap">
		<table class="table">
			<thead>
				<tr>
					<th>MÃ SẢN PHẨM</th>
					<th>TÊN SẢN PHẨM</th>
					<th>HÌNH ẢNH</th>
					<th>LOẠI</th>
					<th>TRẠNG THÁI</th>
					<th>HÀNH ĐỘNG</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				<tr  ng-repeat="product in pager.products">
					<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{product.code}}</strong></td>
					<td>{{product.name}}</td>
					<td>
						<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
							<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
								data-bs-placement="top" class="avatar avatar-xs pull-up"
								title="Lilian Fuller"><img
								ng-src="/products/{{product.product_images[0].name}}" alt="Avatar"
								class="rounded-circle" /></li>
						</ul>
					</td>
					<td ng-if="product.type=='TYPE_PRODUCT'"><span class="badge bg-label-primary me-1">Thương mại</span></td>
					<td ng-if="product.type=='TYPE_GIFT'"><span class="badge bg-label-primary me-1">Quà tặng</span></td>
					<td><span class="badge bg-label-primary me-1">{{product.activity?'Đang bán':'Dừng bán'}}</span></td>
					<td>
						<div class="dropdown">
							<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
								data-bs-toggle="dropdown">
								<i class="bx bx-dots-vertical-rounded"></i>
							</button>
							<div class="dropdown-menu">
								<a ng-click="edit(product)" class="dropdown-item" href="javascript:void(0);"><i
									class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a>
								<a ng-click="viewVariant(product)" class="dropdown-item" href="javascript:void(0);"><i
									class="bx bx-edit-alt me-1"></i> Biến thể</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="card mb-4">
	<div class="card-body">
		<div class="row">
			<div class="col-lg-4">
				
			</div>
			<div class="col-lg-8">
				<div class="demo-inline-spacing">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li class="page-item prev" ng-click="pager.first()">
								<a class="page-link" href="javascript:void(0);">
									<i class="tf-icon bx bx-chevrons-left"></i>
								</a>
							</li>
							<li class="page-item prev" ng-click="pager.prev()">
								<a class="page-link" href="javascript:void(0);">
									<i class="tf-icon bx bx-chevron-left"></i>
								</a>
							</li>
							<li class="page-item next" ng-click="pager.next()">
								<a class="page-link" href="javascript:void(0);">
									<i class="tf-icon bx bx-chevron-right"></i>
								</a>
							</li>
							<li class="page-item next" ng-click="pager.last()">
								<a class="page-link" href="javascript:void(0);">
									<i class="tf-icon bx bx-chevrons-right"></i>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>