<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="fw-bold py-3 mb-4">
			<span class="text-muted fw-light">Quản lý vận chuyển/</span> Đơn vị vận chuyển
		</h4>

		<!-- Basic Layout & Basic with Icons -->
		<div class="row">
			<!-- Basic Layout -->
			<div class="col-xxl">
				<div class="card mb-4">
					<div
						class="card-header d-flex align-items-center justify-content-between">
						<h5 class="mb-0">Thông tin chi tiết</h5>
					</div>
					<div class="card-body">
						<div class="d-flex align-items-start align-items-sm-center gap-4">
							<img ng-src="/shipping_types/{{form.logo}}" alt="category-group-icon"
								class="d-block rounded" height="100" width="100"
								id="uploadedIcon" />
							<div class="button-wrapper">
								<label for="upload" class="btn btn-primary me-2 mb-4"
									tabindex="0"> 
									<span class="d-none d-sm-block">Tải lên ảnh mới</span> <i class="bx bx-upload d-block d-sm-none"></i> 
									<input onchange="angular.element(this).scope().iconChanged(this.files)"
									type="file" id="upload" class="account-file-input" hidden
									accept="image/png, image/jpeg" />
								</label>
								<button type="button" ng-click="resetIcon()"
									class="btn btn-outline-secondary account-image-reset mb-4">
									<i class="bx bx-reset d-block d-sm-none"></i> <span
										class="d-none d-sm-block">Cài lại</span>
								</button>
								<p class="text-danger mb-0" ng-show="error.logo">{{error.logo}}</p>
							</div>
						</div>
					</div>
					<div class="card-body">
						<form>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label" for="code">MÃ ĐƠN VỊ</label>
								<div class="col-sm-9">
									<input ng-if="!form.id" ng-model="form.code" type="text" class="form-control" id="code" placeholder="Code" />
									<div ng-if="form.id" class="form-control">{{form.code}}</div>
									<span class="text-danger" ng-show="error.code">{{error.code}}</span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label" for="name">TÊN ĐƠN VỊ</label>
								<div class="col-sm-9">
									<input ng-model="form.name" type="text" class="form-control" id="name" placeholder="Name" />
									<span class="text-danger" ng-show="error.name">{{error.name}}</span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label" for="activity">TRẠNG THÁI</label>
								<div class="col-sm-9">
									<select ng-model="form.activity" id="activity" class="select2 form-select">
										<option value="">Status</option>
										<option value="true">Hoạt động</option>
										<option value="false">Khóa</option>
									</select>
									<span class="text-danger" ng-show="error.activity">{{error.activity}}</span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label"
									for="description">MÔ TẢ</label>
								<div class="col-sm-9">
									<textarea ng-model="form.description" id="description" class="form-control"
										placeholder="Description"
										aria-label="Hi, Do you have a moment to talk Joe?"
										aria-describedby="basic-icon-default-message2"></textarea>
									<span class="text-danger" ng-show="error.description">{{error.description}}</span>
								</div>
							</div>
							<div class="row justify-content-end">
								<div class="col-sm-9">
									<button ng-if="!form.id" ng-click="create()" type="submit" class="btn btn-primary me-2">Lưu</button>
									<button ng-if="form.id" ng-click="update()" type="submit" class="btn btn-primary me-2">Cập nhật</button>
									<button type="reset"  ng-click="reset()" class="btn btn-outline-secondary">Hủy bỏ</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Basic with Icons -->
			<div class="col-xxl">
				<div class="card">
					<h5 class="card-header">DANH SÁCH ĐƠN VỊ VẬN CHUYỂN</h5>
					<div class="table-responsive text-nowrap">
						<table class="table">
							<thead>
								<tr>
									<th>MÃ</th>
									<th>TÊN ĐƠN VỊ</th>
									<th>LOGO</th>
									<th>TRẠNG THÁI</th>
									<th>HÀNH ĐỘNG</th>
								</tr>
							</thead>
							<tbody class="table-border-bottom-0">
								<tr ng-repeat="shipping_type in shipping_types">
									<td><i class="fab fa-angular fa-lg text-danger me-3"></i>
										<strong>{{shipping_type.code}}</strong></td>
									<td>{{shipping_type.name}}</td>
									<td>
										<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
											<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
												data-bs-placement="top" class="avatar avatar-xs pull-up"
												title="Lilian Fuller"><img
												ng-src="/shipping_types/{{shipping_type.logo}}" alt="Icon"
												class="rounded-circle" /></li>
										</ul>
									</td>
									<td><span class="badge bg-label-primary me-1">{{shipping_type.activity?'Hoạt động':'Đang khóa'}}</span></td>
									<td>
										<div class="dropdown">
											<button type="button"
												class="btn p-0 dropdown-toggle hide-arrow"
												data-bs-toggle="dropdown">
												<i class="bx bx-dots-vertical-rounded"></i>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);" ng-click="edit(shipping_type)"><i
													class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a> 
												<a class="dropdown-item" href="javascript:void(0);" ng-click="delete(shipping_type)"><i
													class="bx bx-trash me-1"></i> Xóa</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>