<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/index.html :: dynamic(~{::body})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<section id="slider" class="nopadding clearfix">
            <a href="https://mwc.com.vn/collections/sale-69k" class="slick-slide">
                <img src="/Resources/Slider/2022/01/18/img-6629.JPG" alt="Freeship">
            </a>
            <a href="https://mwc.com.vn/collections/giay-nu" class="slick-slide">
                <img src="/Resources/Slider/2022/02/18/cover-website.jpg" alt="Gi&#224;y Thể Thao">
            </a>
            <a href="https://mwc.com.vn/collections/sale-69k" class="slick-slide">
                <img src="/Resources/Slider/2022/03/18/1920x550.jpg" alt="Đồng  Gi&#225;  79k  - 99k  ">
            </a>
        </section>
        <section id="content">


            <div class="col-sm-12 text-center">
                <p style="font-size:24px; padding-top:20px;" class="mb-1"><a href="https://mwc.com.vn/collections/giay-cao-got">SẢN PHẨM MỚI</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="grid p-top">
                <div th:each="new_product : ${new_products}" class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a th:href="@{|/products/${new_product.slug}/${new_product.id}|}" th:title="${new_product.name}">
                                <img th:src="@{|/products/${new_product.product_images[0].name}|}" th:alt="${new_product.name}">
                                <img th:src="@{|/products/${new_product.product_images[1].name}|}" width="240" height="240" class="imgHV" alt="Gi&#224;y cao g&#243;t MWC NUCG-3920">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-cao-got-mwc-nucg-3920?c=N&#194;U" title="Gi&#224;y cao g&#243;t MWC NUCG-3920">[[*{new_product.name}]]</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>[[${#numbers.formatDecimal(new_product.price, 0, 'DEFAULT', 0, 'POINT')}]] ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;font-size:22px;text-decoration:underline;padding-top:10px;">
                <a href="https://mwc.com.vn/collections/giay-cao-got"><i class="fa fa-angle-double-right"></i> Xem tất cả sản phẩm <i class="fa fa-angle-double-left"></i></a>
            </p>
            <div class="col-sm-12 text-center">
                <p style="font-size:24px; padding-top:20px;" class="mb-1"><a href="https://mwc.com.vn/collections/giay-thoi-trang">TOP BÁN CHẠY NHẤT</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="grid p-top">
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-the-thao-nu-mwc-nutt--0572?c=HỒNG" title="Giày th&#234;̉ thao nữ MWC NUTT- 0572">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/11/z2980721621026-8368dc27af9bcb0f40edcb606b69ee39.jpg" alt="Giày th&#234;̉ thao nữ MWC NUTT- 0572">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/11/z2980721621026-8368dc27af9bcb0f40edcb606b69ee39.jpg" alt="Giày th&#234;̉ thao nữ MWC NUTT- 0572">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-the-thao-nu-mwc-nutt--0572?c=HỒNG" title="Giày th&#234;̉ thao nữ MWC NUTT- 0572">Giày th&#234;̉ thao nữ MWC NUTT- 0572</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>250.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-the-thao-nu-mwc-nutt--0583?c=ĐEN" title="Giày th&#234;̉ thao nữ MWC NUTT- 0583">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/01/z3123280023274-ede227c05b862ba6a2a9392bc84d988d.jpg" alt="Giày th&#234;̉ thao nữ MWC NUTT- 0583">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/01/z3123280023274-ede227c05b862ba6a2a9392bc84d988d.jpg" alt="Giày th&#234;̉ thao nữ MWC NUTT- 0583">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-the-thao-nu-mwc-nutt--0583?c=ĐEN" title="Giày th&#234;̉ thao nữ MWC NUTT- 0583">Giày th&#234;̉ thao nữ MWC NUTT- 0583</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>250.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-the-thao-nu-mwc-nutt--0613?c=KEM" title="Gi&#224;y thể thao nữ  MWC NUTT- 0613">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3260081715744-3ed2d88ab1122180f8c965ccfd7a0ee8.jpg" alt="Gi&#224;y thể thao nữ  MWC NUTT- 0613">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3260081715744-3ed2d88ab1122180f8c965ccfd7a0ee8.jpg" alt="Gi&#224;y thể thao nữ  MWC NUTT- 0613">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-the-thao-nu-mwc-nutt--0613?c=KEM" title="Gi&#224;y thể thao nữ  MWC NUTT- 0613">Gi&#224;y thể thao nữ  MWC NUTT- 0613</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>250.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-the-thao-nu-mwc-nutt--0622?c=TRANG" title="Gi&#224;y thể thao nữ  MWC NUTT- 0622">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3289651748255-ad07d0834a1d6d4f6636b9a8113da258.jpg" alt="Gi&#224;y thể thao nữ  MWC NUTT- 0622">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3289651748255-ad07d0834a1d6d4f6636b9a8113da258.jpg" alt="Gi&#224;y thể thao nữ  MWC NUTT- 0622">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-the-thao-nu-mwc-nutt--0622?c=TRANG" title="Gi&#224;y thể thao nữ  MWC NUTT- 0622">Gi&#224;y thể thao nữ  MWC NUTT- 0622</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>295.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;font-size:22px;text-decoration:underline;padding-top:10px;">
                <a href="https://mwc.com.vn/collections/giay-thoi-trang"><i class="fa fa-angle-double-right"></i> Xem tất cả sản phẩm <i class="fa fa-angle-double-left"></i></a>
            </p>
            <div class="col-sm-12 text-center">
                <p style="font-size:24px; padding-top:20px;" class="mb-1"><a href="https://mwc.com.vn/collections/sandal-nu">GI&#192;Y SANDAL NỮ</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="grid p-top">
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-sandal-nu-mwc-nusd--2773?c=ĐEN" title="Gi&#224;y sandal nữ MWC NUSD- 2773">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/11/z2953128506971-a889f3872f29043b2caded8902355fd1.jpg" alt="Gi&#224;y sandal nữ MWC NUSD- 2773">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/11/z2953128506971-a889f3872f29043b2caded8902355fd1.jpg" alt="Gi&#224;y sandal nữ MWC NUSD- 2773">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-sandal-nu-mwc-nusd--2773?c=ĐEN" title="Gi&#224;y sandal nữ MWC NUSD- 2773">Gi&#224;y sandal nữ MWC NUSD- 2773</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>99.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-sandal-nu-mwc-nusd--2834?c=ĐEN" title="Gi&#224;y sandal nữ MWC NUSD- 2834">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3014490943672-e8a562e3d688e6cd2bcefbccc26293ca.jpg" alt="Gi&#224;y sandal nữ MWC NUSD- 2834">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3014490943672-e8a562e3d688e6cd2bcefbccc26293ca.jpg" alt="Gi&#224;y sandal nữ MWC NUSD- 2834">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-sandal-nu-mwc-nusd--2834?c=ĐEN" title="Gi&#224;y sandal nữ MWC NUSD- 2834">Gi&#224;y sandal nữ MWC NUSD- 2834</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>99.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-sandal-nu-mwc-nusd--2872?c=KEM" title="Gi&#224;y sandal nữ MWC NUSD- 2872">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3036443740129-5dc6ba0c65721dec0e89879f0a9815dc.jpg" alt="Gi&#224;y sandal nữ MWC NUSD- 2872">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3036443740129-5dc6ba0c65721dec0e89879f0a9815dc.jpg" alt="Gi&#224;y sandal nữ MWC NUSD- 2872">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-sandal-nu-mwc-nusd--2872?c=KEM" title="Gi&#224;y sandal nữ MWC NUSD- 2872">Gi&#224;y sandal nữ MWC NUSD- 2872</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>125.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-sandal-nu-mwc-nusd--2894?c=TRẮNG" title="Gi&#224;y sandal nữ MWC NUSD- 2894">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/01/z3074431367895-62bae4d91f0ac051c7d31efa471a1cd3.jpg" alt="Gi&#224;y sandal nữ MWC NUSD- 2894">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/01/z3074431367895-62bae4d91f0ac051c7d31efa471a1cd3.jpg" alt="Gi&#224;y sandal nữ MWC NUSD- 2894">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-sandal-nu-mwc-nusd--2894?c=TRẮNG" title="Gi&#224;y sandal nữ MWC NUSD- 2894">Gi&#224;y sandal nữ MWC NUSD- 2894</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>125.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;font-size:22px;text-decoration:underline;padding-top:10px;">
                <a href="https://mwc.com.vn/collections/sandal-nu"><i class="fa fa-angle-double-right"></i> Xem tất cả sản phẩm <i class="fa fa-angle-double-left"></i></a>
            </p>
            <div class="col-sm-12 text-center">
                <p style="font-size:24px; padding-top:20px;" class="mb-1"><a href="https://mwc.com.vn/collections/dep-nu">D&#201;P NỮ</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="grid p-top">
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/dep-nu-mwc-nude--3384?c=ĐEN" title="D&#233;p nữ MWC NUDE- 3384">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/11/z2917382591716-7da709eff5c991213fac1802096ccdf2.jpg" alt="D&#233;p nữ MWC NUDE- 3384">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/11/z2917382591716-7da709eff5c991213fac1802096ccdf2.jpg" alt="D&#233;p nữ MWC NUDE- 3384">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/dep-nu-mwc-nude--3384?c=ĐEN" title="D&#233;p nữ MWC NUDE- 3384">D&#233;p nữ MWC NUDE- 3384</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>99.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/dep-nu-mwc-nude--3418?c=ĐEN" title="D&#233;p nữ MWC NUDE- 3418">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/01/z2301260125602-d21b143275011e687d28d9988739c94d.jpg" alt="D&#233;p nữ MWC NUDE- 3418">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/01/z2301260125602-d21b143275011e687d28d9988739c94d.jpg" alt="D&#233;p nữ MWC NUDE- 3418">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/dep-nu-mwc-nude--3418?c=ĐEN" title="D&#233;p nữ MWC NUDE- 3418">D&#233;p nữ MWC NUDE- 3418</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>99.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/dep-nu-mwc-nude--3499?c=ĐEN" title="D&#233;p nữ MWC NUDE- 3499">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/11/z2958572100411-d2a76d84442377fef40b884f51d9e36f.jpg" alt="D&#233;p nữ MWC NUDE- 3499">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/11/z2958572100411-d2a76d84442377fef40b884f51d9e36f.jpg" alt="D&#233;p nữ MWC NUDE- 3499">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/dep-nu-mwc-nude--3499?c=ĐEN" title="D&#233;p nữ MWC NUDE- 3499">D&#233;p nữ MWC NUDE- 3499</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>99.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/dep-nu-mwc-nude--8056?c=X&#193;M" title="D&#233;p nữ MWC NUDE- 8056">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3022556676424-1973aa67ac057b5da172fb56503a4b63.jpg" alt="D&#233;p nữ MWC NUDE- 8056">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3022556676424-1973aa67ac057b5da172fb56503a4b63.jpg" alt="D&#233;p nữ MWC NUDE- 8056">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/dep-nu-mwc-nude--8056?c=X&#193;M" title="D&#233;p nữ MWC NUDE- 8056">D&#233;p nữ MWC NUDE- 8056</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>150.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;font-size:22px;text-decoration:underline;padding-top:10px;">
                <a href="https://mwc.com.vn/collections/dep-nu"><i class="fa fa-angle-double-right"></i> Xem tất cả sản phẩm <i class="fa fa-angle-double-left"></i></a>
            </p>
            <div class="col-sm-12 text-center">
                <p style="font-size:24px; padding-top:20px;" class="mb-1"><a href="https://mwc.com.vn/collections/giay-bup-be-moi">GI&#192;Y B&#218;P B&#202;</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="grid p-top">
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-bup-be-mwc-nubb--2231?c=ĐEN" title="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2231">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3009888350159-9d1e42c6157fba8d17543c8a47994a14.jpg" alt="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2231">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3009888350159-9d1e42c6157fba8d17543c8a47994a14.jpg" alt="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2231">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-bup-be-mwc-nubb--2231?c=ĐEN" title="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2231">Gi&#224;y b&#250;p b&#234; MWC NUBB- 2231</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>150.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-bup-be-mwc-nubb--2237?c=KEM" title="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2237">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3243509656820-199016ee5d40826295b4acf15423b04b.jpg" alt="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2237">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3243509656820-199016ee5d40826295b4acf15423b04b.jpg" alt="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2237">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-bup-be-mwc-nubb--2237?c=KEM" title="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2237">Gi&#224;y b&#250;p b&#234; MWC NUBB- 2237</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>150.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-bup-be-mwc-nubb--2252?c=KEM" title="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2252">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3243506070402-c7c934f3809632828d818b62e85c0b6e.jpg" alt="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2252">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3243506070402-c7c934f3809632828d818b62e85c0b6e.jpg" alt="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2252">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-bup-be-mwc-nubb--2252?c=KEM" title="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2252">Gi&#224;y b&#250;p b&#234; MWC NUBB- 2252</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>235.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-bup-be-mwc-nubb--2254?c=DEN" title="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2254">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3262913865596-58eccf6807ac3ad760e3d179d5349498.jpg" alt="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2254">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3262913865596-58eccf6807ac3ad760e3d179d5349498.jpg" alt="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2254">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-bup-be-mwc-nubb--2254?c=DEN" title="Gi&#224;y b&#250;p b&#234; MWC NUBB- 2254">Gi&#224;y b&#250;p b&#234; MWC NUBB- 2254</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>235.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;font-size:22px;text-decoration:underline;padding-top:10px;">
                <a href="https://mwc.com.vn/collections/giay-bup-be-moi"><i class="fa fa-angle-double-right"></i> Xem tất cả sản phẩm <i class="fa fa-angle-double-left"></i></a>
            </p>
            <div class="col-sm-12 text-center">
                <p style="font-size:24px; padding-top:20px;" class="mb-1"><a href="https://mwc.com.vn/collections/giay-the-thao-nam">GI&#192;Y THỂ THAO NAM</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="grid p-top">
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-the-thao-nam-mwc-natt---5343?c=TRANG" title="Gi&#224;y Thể Thao Nam MWC NATT - 5343">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3287817202189-1bf7b2112b319e0b7e78887479daa020-8964097f-b075-4c58-a8ae-886118a2b76f.jpg" alt="Gi&#224;y Thể Thao Nam MWC NATT - 5343">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3287817202189-1bf7b2112b319e0b7e78887479daa020-8964097f-b075-4c58-a8ae-886118a2b76f.jpg" alt="Gi&#224;y Thể Thao Nam MWC NATT - 5343">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-the-thao-nam-mwc-natt---5343?c=TRANG" title="Gi&#224;y Thể Thao Nam MWC NATT - 5343">Gi&#224;y Thể Thao Nam MWC NATT - 5343</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>295.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-the-thao-nam-mwc-natt---5350?c=DEN" title="Gi&#224;y Thể Thao Nam MWC NATT - 5350">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/04/z3321542461448-ee38f52a16a71346ed309bbfaeffcb54.jpg" alt="Gi&#224;y Thể Thao Nam MWC NATT - 5350">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/04/z3321542461448-ee38f52a16a71346ed309bbfaeffcb54.jpg" alt="Gi&#224;y Thể Thao Nam MWC NATT - 5350">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-the-thao-nam-mwc-natt---5350?c=DEN" title="Gi&#224;y Thể Thao Nam MWC NATT - 5350">Gi&#224;y Thể Thao Nam MWC NATT - 5350</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>295.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-the-thao-nam-mwc-natt---5351?c=DEN" title="Gi&#224;y Thể Thao Nam MWC NATT - 5351">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/04/z3324174667075-81c356a270ef822289a3c73bef28c057.jpg" alt="Gi&#224;y Thể Thao Nam MWC NATT - 5351">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/04/z3324174667075-81c356a270ef822289a3c73bef28c057.jpg" alt="Gi&#224;y Thể Thao Nam MWC NATT - 5351">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-the-thao-nam-mwc-natt---5351?c=DEN" title="Gi&#224;y Thể Thao Nam MWC NATT - 5351">Gi&#224;y Thể Thao Nam MWC NATT - 5351</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>270.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-the-thao-nam-mwc-natt---5349?c=DEN" title="Gi&#224;y Thể Thao Nam MWC NATT - 5349">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/04/7.png" alt="Gi&#224;y Thể Thao Nam MWC NATT - 5349">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/04/7.png" alt="Gi&#224;y Thể Thao Nam MWC NATT - 5349">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-the-thao-nam-mwc-natt---5349?c=DEN" title="Gi&#224;y Thể Thao Nam MWC NATT - 5349">Gi&#224;y Thể Thao Nam MWC NATT - 5349</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>295.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;font-size:22px;text-decoration:underline;padding-top:10px;">
                <a href="https://mwc.com.vn/collections/giay-the-thao-nam"><i class="fa fa-angle-double-right"></i> Xem tất cả sản phẩm <i class="fa fa-angle-double-left"></i></a>
            </p>
            <div class="col-sm-12 text-center">
                <p style="font-size:24px; padding-top:20px;" class="mb-1"><a href="https://mwc.com.vn/collections/sandal-dep">D&#201;P NAM</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="grid p-top">
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/dep-nam-mwc-nade--7628?c=FULLĐ" title="D&#233;p nam MWC NADE- 7628">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3016794466718-9678b54785770fcdd90d2facf022dd78.jpg" alt="D&#233;p nam MWC NADE- 7628">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3016794466718-9678b54785770fcdd90d2facf022dd78.jpg" alt="D&#233;p nam MWC NADE- 7628">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/dep-nam-mwc-nade--7628?c=FULLĐ" title="D&#233;p nam MWC NADE- 7628">D&#233;p nam MWC NADE- 7628</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>79.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/dep-nam-mwc-nade--7677?c=ĐEN" title="D&#233;p nam MWC NADE- 7677">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3016405563835-aafc3e8718f8a682c174c56b921ed534.jpg" alt="D&#233;p nam MWC NADE- 7677">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3016405563835-aafc3e8718f8a682c174c56b921ed534.jpg" alt="D&#233;p nam MWC NADE- 7677">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/dep-nam-mwc-nade--7677?c=ĐEN" title="D&#233;p nam MWC NADE- 7677">D&#233;p nam MWC NADE- 7677</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>150.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/dep-nam-mwc-nade--7684?c=ĐEN" title="D&#233;p nam MWC NADE- 7684">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3016344211787-eef6be751013a418f72c3f091ab32187.jpg" alt="D&#233;p nam MWC NADE- 7684">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/12/z3016344211787-eef6be751013a418f72c3f091ab32187.jpg" alt="D&#233;p nam MWC NADE- 7684">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/dep-nam-mwc-nade--7684?c=ĐEN" title="D&#233;p nam MWC NADE- 7684">D&#233;p nam MWC NADE- 7684</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>195.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/dep-nam-mwc-nade--7723?c=X&#193;M" title="D&#233;p nam MWC NADE- 7723">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3287814998343-c2d1e8edd36a47c944857087615fc9d0.jpg" alt="D&#233;p nam MWC NADE- 7723">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3287814998343-c2d1e8edd36a47c944857087615fc9d0.jpg" alt="D&#233;p nam MWC NADE- 7723">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/dep-nam-mwc-nade--7723?c=X&#193;M" title="D&#233;p nam MWC NADE- 7723">D&#233;p nam MWC NADE- 7723</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>195.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;font-size:22px;text-decoration:underline;padding-top:10px;">
                <a href="https://mwc.com.vn/collections/sandal-dep"><i class="fa fa-angle-double-right"></i> Xem tất cả sản phẩm <i class="fa fa-angle-double-left"></i></a>
            </p>
            <div class="col-sm-12 text-center">
                <p style="font-size:24px; padding-top:20px;" class="mb-1"><a href="https://mwc.com.vn/collections/sandal-nam">GI&#192;Y SANDAL NAM</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="grid p-top">
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-sandal-nam-mwc-nasd--7031?c=ĐEN" title="Gi&#224;y sandal nam MWC NASD- 7031">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2020/09/z2054611198538-58221adf5dcf8d47fd1fe87fb9941cf4.jpg" alt="Gi&#224;y sandal nam MWC NASD- 7031">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2020/09/z2054611198538-58221adf5dcf8d47fd1fe87fb9941cf4.jpg" alt="Gi&#224;y sandal nam MWC NASD- 7031">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-sandal-nam-mwc-nasd--7031?c=ĐEN" title="Gi&#224;y sandal nam MWC NASD- 7031">Gi&#224;y sandal nam MWC NASD- 7031</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>195.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-sandal-nam-mwc-nasd--7048?c=ĐEN" title="Gi&#224;y sandal nam MWC NASD- 7048">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/04/z2452334294560-23824d1a78a52b7431c1e07cdc376b5e.jpg" alt="Gi&#224;y sandal nam MWC NASD- 7048">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/04/z2452334294560-23824d1a78a52b7431c1e07cdc376b5e.jpg" alt="Gi&#224;y sandal nam MWC NASD- 7048">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-sandal-nam-mwc-nasd--7048?c=ĐEN" title="Gi&#224;y sandal nam MWC NASD- 7048">Gi&#224;y sandal nam MWC NASD- 7048</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>195.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-sandal-nam-mwc-nasd--7056?c=FULLD" title="Gi&#224;y sandal nam MWC NASD- 7056">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3275533529632-d3bf6db53c0f7e9f705d26e49b08d24a.jpg" alt="Gi&#224;y sandal nam MWC NASD- 7056">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3275533529632-d3bf6db53c0f7e9f705d26e49b08d24a.jpg" alt="Gi&#224;y sandal nam MWC NASD- 7056">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-sandal-nam-mwc-nasd--7056?c=FULLD" title="Gi&#224;y sandal nam MWC NASD- 7056">Gi&#224;y sandal nam MWC NASD- 7056</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>235.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/giay-sandal-nam-mwc-nasd--7058?c=TRANG" title="Gi&#224;y sandal nam MWC NASD- 7058">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3278590976167-27af57c8938c07fe90fb8d7a4c5c688c.jpg" alt="Gi&#224;y sandal nam MWC NASD- 7058">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3278590976167-27af57c8938c07fe90fb8d7a4c5c688c.jpg" alt="Gi&#224;y sandal nam MWC NASD- 7058">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/giay-sandal-nam-mwc-nasd--7058?c=TRANG" title="Gi&#224;y sandal nam MWC NASD- 7058">Gi&#224;y sandal nam MWC NASD- 7058</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>235.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;font-size:22px;text-decoration:underline;padding-top:10px;">
                <a href="https://mwc.com.vn/collections/sandal-nam"><i class="fa fa-angle-double-right"></i> Xem tất cả sản phẩm <i class="fa fa-angle-double-left"></i></a>
            </p>
            <div class="col-sm-12 text-center">
                <p style="font-size:24px; padding-top:20px;" class="mb-1"><a href="https://mwc.com.vn/collections/balo---tui">BALO</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="grid p-top">
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/balo-mwc-balo--1082?c=ĐEN" title="Bal&#244; MWC BALO- 1082">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/04/z3322511816164-559d32402de0283d8747bd7a05478442.jpg" alt="Bal&#244; MWC BALO- 1082">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/04/z3322511816164-559d32402de0283d8747bd7a05478442.jpg" alt="Bal&#244; MWC BALO- 1082">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/balo-mwc-balo--1082?c=ĐEN" title="Bal&#244; MWC BALO- 1082">Bal&#244; MWC BALO- 1082</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>235.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/balo-tui-deo-cheo-mwc-tuid--0811?c=ĐEN" title="Bal&#244; T&#250;i Đeo Ch&#233;o MWC TUID- 0811">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/04/z2434817869677-ea48da716cd33051f2b57d4d7a3f27a6.jpg" alt="Bal&#244; T&#250;i Đeo Ch&#233;o MWC TUID- 0811">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2021/04/z2434817869677-ea48da716cd33051f2b57d4d7a3f27a6.jpg" alt="Bal&#244; T&#250;i Đeo Ch&#233;o MWC TUID- 0811">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/balo-tui-deo-cheo-mwc-tuid--0811?c=ĐEN" title="Bal&#244; T&#250;i Đeo Ch&#233;o MWC TUID- 0811">Bal&#244; T&#250;i Đeo Ch&#233;o MWC TUID- 0811</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>135.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/balo-mwc-balo--1116?c=XANHĐ" title="Bal&#244; MWC BALO- 1116">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/02/z3179971249254-b0b44a82efc42ec6566605a78fea2198.jpg" alt="Bal&#244; MWC BALO- 1116">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/02/z3179971249254-b0b44a82efc42ec6566605a78fea2198.jpg" alt="Bal&#244; MWC BALO- 1116">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/balo-mwc-balo--1116?c=XANHĐ" title="Bal&#244; MWC BALO- 1116">Bal&#244; MWC BALO- 1116</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>235.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 product_single">
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="/products/balo-mwc-balo--1118?c=ĐEN" title="Bal&#244; MWC BALO- 1118">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3259031605442-2728601004bd9ca2bafde0126a496f99.jpg" alt="Bal&#244; MWC BALO- 1118">
                                <img width="240" height="240" class="imgHV" src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3259031605442-2728601004bd9ca2bafde0126a496f99.jpg" alt="Bal&#244; MWC BALO- 1118">

                            </a>
                        </div>
                        <div class="product-desc">
                            <div class="product-title">
                                <h4><a class="truncate-text" href="/products/balo-mwc-balo--1118?c=ĐEN" title="Bal&#244; MWC BALO- 1118">Bal&#244; MWC BALO- 1118</a></h4>
                            </div>
                            <div class="product-price">
                                <ins>215.000 ₫ </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;font-size:22px;text-decoration:underline;padding-top:10px;">
                <a href="https://mwc.com.vn/collections/balo---tui"><i class="fa fa-angle-double-right"></i> Xem tất cả sản phẩm <i class="fa fa-angle-double-left"></i></a>
            </p>


            <div class="container clearfix">

                <div id="post-timeline">
                    <ul class="timeline" data-bind="foreach:PostItems">
                        <li class="event">
                            <div class="news-item-box">
                                <h5>
                                    <a href="#" data-bind='attr:{href:"/post/"+KeySlug()},text:Name()'></a>
                                </h5>
                                <a href="#" data-bind='attr:{href:"/post/"+KeySlug()}'>
                                    <img class="img-responsive" src="" data-bind='attr:{src:$parent.HostThumnailUrl() +"?&w=800&h=400&FileInput="+Picture()}'>
                                </a>
                                <p data-bind="html:Description"></p>
                            </div>
                        </li>
                    </ul>

                    <div class="text-center">
                        <a href="javascript:;" id="loadNews" class="btn btn-default btn-sm btn-loadmore" data-bind="click:LoadMore"><i class="fa fa-refresh"></i> Xem thêm nhiều tin khác</a>
                    </div>
                </div>

            </div>

            <!-- #content end -->

        </section>
</body>
</html>